<div class="col-right" th:fragment="manage-food">
  <!-- Tags -->
  <div class="tags">
    <div class="row">
      <div class="col-12">
        <h1 class="title fix-mb-title">Danh sách thẻ</h1>
      </div>
    </div>
    <form class="row panel-form mx-0 m-mb-16" >
      <div class="list-update-tag m-mt-8" >
        <div class="tags" th:if="${foodStoreTagList.size() != 0}">
          <th:block th:each="foodTag: ${foodStoreTagList}">
            <span class="tag" th:text="*{foodTag.foodTagName}"></span>
          </th:block>
        </div>
        <div th:if="${foodStoreTagList.size() == 0}">
          Cửa hàng chưa có thẻ nào!
        </div>
      </div>
      <div class="col-md-12 text-end">
        <a th:href="@{/store/manage/tag}" class="btn btn-md btn-secondary m-mb-12">
          <i class="fas fa-pencil-alt text-success"></i>Chỉnh sửa
        </a>
      </div>
    </form>
  </div>

  <!-- List food -->
  <div class="list-food">
    <div class="row">
      <div class="col-12">
        <h1 class="title fix-mb-title fix-mt-title">Danh sách đồ ăn</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-3">
        <a href="javascript:void(0)" class="btn btn-lg btn-primary m-mb-12" data-bs-toggle="modal"
           data-bs-target="#addNewFoodModal">
          <i class="fas fa-plus text-success"></i>Thêm sản phẩm mới
        </a>
      </div>
    </div>
    <div class="row" th:each="foodItem: ${foodStoreItemList}">
      <div class="col-lg-12 col-xl-12">
        <div class="food label-info m-mb-16">
          <div class="flex-sb">
            <div class="flex">
              <div class="icon-circle">
                <img th:id="'food-item-img-' + *{foodItem.foodItemId}" class="media-object rounded-circle" th:src="@{'/images/food/'+ *{foodItem.foodItemImage}}">
              </div>
              <div class="content-body">
                <a href="javascript:void(0)">
                  <span th:id="'food-item-name-' + *{foodItem.foodItemId}" th:text="*{foodItem.foodItemName}" ></span>
                </a>
                <div class="food-info">
                  <p>Giá: <span th:id="'food-item-price-' + *{foodItem.foodItemId}" th:text="*{#numbers.formatInteger(foodItem.foodItemPrice, 3, 'POINT')}"></span><sup>đ</sup>
                    &nbsp;&#8226;&nbsp; Đã bán: <span th:text="*{foodItem.foodItemSoldNumber}"></span></p>
                </div>
              </div>
            </div>
            <div class="flex">
              <a href="javascript:void(0)" class="btn-more">
                <i class="fas fa-pencil-alt text-success"
                   th:onclick="'javascript:updateFood(' + *{foodItem.foodItemId} + ',' + *{foodItem.foodTagId} + ')'">
                </i>
              </a>
              <a href="javascript:void(0)" class="btn-more me-0" >
                <i class="far fa-trash-alt text-danger"
                  th:onclick="'javascript:confirmDeleteFood(' + *{foodItem.foodItemId} + ')'">
                </i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>