<div class="col-right" th:fragment="overview">
  <!-- Dashboard -->
  <div class="dashboard">
    <div class="row">
      <div class="col-12">
        <h1 class="title fix-mb-title">Dashboard</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <a href="" class="label-info m-mb-16">
          <div class="flex">
            <div class="icon">
              <i class="far fa-check-square"></i>
            </div>
            <div class="number">
              <h4>20</h4>
            </div>
          </div>
          <div class="description">
            Tổng số đơn hàng
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <a href="" class="label-info m-mb-16">
          <div class="flex">
            <div class="icon">
              <i class="fas fa-list-ul"></i>
            </div>
            <div class="number">
              <h4>20</h4>
            </div>
          </div>
          <div class="description">
            Tổng số sản phẩm
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <a href="#" class="label-info m-mb-16">
          <div class="flex">
            <div class="icon">
              <i class="fas fa-tasks"></i>
            </div>
            <div class="number">
              <h4>3</h4>
            </div>
          </div>
          <div class="description">
            Sản phẩm đã bán
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- Info -->
  <div class="info">
    <div class="row">
      <div class="col-12">
        <h1 class="title fix-mb-title fix-mt-title">Thông tin chung</h1>
      </div>
    </div>
    <form class="row panel-form mx-0 m-mb-16">
      <div class="col-12 col-md-12 col-lg-3 m-mb-12 m-mt-8">
        <img class="preview-img" width="100%" th:src="@{'/images/system/no-image.png'}" />
      </div>
      <div class="col-12 col-md-12 col-lg-9">
        <div class="row">
          <div class="form-group col-12 col-md-12 col-lg-12">
            <fieldset>
              <legend>Tên shop</legend>
              <input type="text" class="form-control" th:value="${foodStoreOnline.foodStoreOnlineName}" readonly>
            </fieldset>
          </div>
          <div class="form-group col-12 col-md-12 col-lg-12">
            <fieldset>
              <legend>Mô tả</legend>
              <input type="text" class="form-control" th:value="${foodStoreOnline.foodStoreOnlineDescription}" readonly>
            </fieldset>
          </div>
          <div class="col-md-12 text-end mt-2">
            <a href="javascript:void(0)" class="btn btn-md btn-secondary m-mb-12" data-bs-toggle="modal" data-bs-target="#updateShopInfoModal">
              <i class="fas fa-pencil-alt text-success"></i>Chỉnh sửa
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Setting -->
  <div class="info">
    <div class="row">
      <div class="col-12">
        <h1 class="title fix-mb-title fix-mt-title">Cài đặt hiển thị</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form>
          <div class="mb-4">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="enableStore">
              <label class="form-check-label" for="enableStore">Tạm dừng bán hàng.</label>
            </div>
            <div class="form-text">Chủ động tạm dừng hoặc tiếp tục bán hàng. Người dùng sẽ không thể đặt hàng khi tạm dừng bán hàng.</div>
          </div>
          <div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="enableStore">
              <label class="form-check-label" for="enableStore">Cửa hàng tạm nghỉ bán hàng.</label>
            </div>
            <div class="form-text">Thông báo cửa hàng tạm nghỉ bán hàng.</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>