<div class="col-right" th:fragment="statistics">
  <div class="post-find-job">
    <div class="row">
      <div class="col-12">
        <h1 class="title fix-mb-title">Dữ liệu - thống kê</h1>
      </div>
    </div>
    <form class="row panel-form mx-0" method="post" th:action="@{/store/statistics/month}">
      <div class="form-group col-12 col-md-6 col-lg-4">
        <fieldset class="bg-dark-ui">
          <legend>Kiểu đồ thị</legend>
          <select class="form-control form-select" onchange="this.form.submit()" th:name="chartType">
            <option th:selected="(${selectChartType} == 1)" value="1">Đường biểu đồ</option>
            <option th:selected="(${selectChartType} == 2)" value="2">Cột biểu đồ</option>
          </select>
        </fieldset>
      </div>
      <div class="form-group col-12 col-md-6 col-lg-4">
        <fieldset class="bg-dark-ui">
          <legend>Loại thống kê</legend>
          <select class="form-control form-select" onchange="this.form.submit()" th:name="viewType">
            <option th:selected="(${selectViewType} == 1)" value="1">Tổng tiền</option>
            <option th:selected="(${selectViewType} == 2)" value="2">Tổng đơn</option>
          </select>
        </fieldset>
      </div>
      <div class="form-group col-12 col-md-6 col-lg-4">
        <fieldset class="bg-dark-ui">
          <legend>Tháng</legend>
          <select class="form-control form-select" onchange="this.form.submit()" th:name="month">
            <option
                th:each="month : ${listMonth}"
                th:selected="(${selectMonth} == *{month})"
                th:text="*{month}"
                th:value="*{month}">
            </option>
          </select>
        </fieldset>
      </div>
      <div class="form-group col-12 col-md-6 col-lg-4">
        <fieldset>
          <legend>Tổng doanh thu</legend>
          <input class="form-control" readonly
                 th:if="${totalMoneyOfMonth != 0}"
                 th:value="${#numbers.formatInteger(totalMoneyOfMonth, 3, 'POINT')}" type="text"/>
          <input class="form-control" readonly
                 th:if="${totalMoneyOfMonth == 0}" th:value="0" type="text"/>
        </fieldset>
      </div>
      <div class="form-group col-12 col-md-6 col-lg-4">
        <fieldset>
          <legend>Tổng đơn</legend>
          <input class="form-control" readonly th:value="${totalOrderOfMonth}" type="text"/>
        </fieldset>
      </div>
      <div class="form-group col-12 col-md-6 col-lg-4">
        <fieldset>
          <legend>Năm</legend>
          <input class="form-control" readonly th:name="year" th:value="${currentYear}" type="text"/>
        </fieldset>
      </div>
    </form>
  </div>
  <div class="panel">
    <div class="row">
      <div class="col-12">
        <div class="statistics-chart">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>