<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
  <title>Member</title>
</head>
<body>
<div class="container">
    <div class="right mb-5">
      <div class="row">
        <div class="col-12 mb-3">
          <h3>Danh sách công nhân</h3>
          <div class="datatable bg-dark-ui border-ui" th:if="${listWorkRequestFindJob.size() != 0}">
            <table cellspacing="0" class="table" id="ListWorker" width="100%">
              <thead>
              <tr>
                <th class="text-center" scope="col">STT</th>
                <th class="text-center" scope="col">Tiêu đề</th>
                <th class="text-center" scope="col">Ngày bắt đầu</th>
                <th class="text-center" scope="col">Ngày kết thúc</th>
                <th class="text-center" scope="col">Mô tả</th>
                <th class="text-center" scope="col">Kinh nghiệm</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="worker, index : ${listWorkRequestFindJob}">
                <td class="text-center" th:text="*{index.count}"></td>
                <td class="text-center" th:text="*{worker.workRequestFindJobTitle}"></td>
                <td class="text-center" th:text="*{worker.workRequestFindJobStartDateTime}"></td>
                <td class="text-center" th:text="${worker.workRequestFindJobEndDateTime}"></td>
                <td class="text-center" th:text="*{worker.workRequestFindJobDescription}"></td>
                <td class="text-center" th:text="*{worker.workRequestFindJobPersonalExperience}"></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div th:if="${listWorkRequestFindJob.size() == 0}">
            <h5 class="alert-info bg-dark-ui border-ui">Không có công nhân nào!</h5>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col-12 mb-3">
            <h3>Danh sách công việc</h3>
            <div class="datatable bg-dark-ui border-ui" th:if="${listSttWorkRequestRecruitment.size() != 0}">
              <table cellspacing="0" class="table" id="ListJob" width="100%">
                <thead>
                <tr>
                  <th class="text-center" scope="col">STT</th>
                  <th class="text-center" scope="col">Tiêu đề</th>
                  <th class="text-center" scope="col">Ngày bắt đầu</th>
                  <th class="text-center" scope="col">Ngày kết thúc</th>
                  <th class="text-center" scope="col">Mô tả</th>
                  <th class="text-center" scope="col">Yêu cầu</th>
                  <th class="text-center" scope="col">Quyền lợi</th>
                  <th class="text-center" scope="col">Mức lương</th>
                  <th class="text-center" scope="col">Yêu cầu kinh nghiệm</th>
                  <th class="text-center" scope="col">Địa điểm làm việc</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="job, index : ${listSttWorkRequestRecruitment}">
                  <td class="text-center" th:text="*{index.count}"></td>
                  <td class="text-center" th:text="*{job.workRequestRecruitmentTitle}"></td>
                  <td class="text-center" th:text="*{job.workRequestRecruitmentStartDateTime}"></td>
                  <td class="text-center" th:text="${job.workRequestRecruitmentEndDateTime}"></td>
                  <td class="text-center" th:text="*{job.workRequestRecruitmentDescription}"></td>
                  <td class="text-center" th:text="*{job.workRequestRecruitmentRequirement}"></td>
                  <td class="text-center" th:text="*{job.workRequestRecruitmentBenefit}"></td>
                  <td class="text-center" th:text="*{job.workRequestRecruitmentWage}"></td>
                  <td class="text-center" th:text="*{job.workRequestRecruitmentExperienceRequirement}"></td>
                  <td class="text-center" th:text="*{job.workRequestRecruitmentWorkLocation}"></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div th:if="${listSttWorkRequestRecruitment.size() == 0}">
              <h5 class="alert-info bg-dark-ui border-ui">Không có công việc nào!</h5>
            </div>
          </div>
        </div>

      <div class="row">
            <div class="col-12 mb-3">
              <h3>Danh sách kiểu lương</h3>
              <div class="datatable bg-dark-ui border-ui" th:if="${listWorkSalaryType.size() != 0}">
                <table cellspacing="0" class="table" id="ListSalary" width="100%">
                  <thead>
                  <tr>
                    <th class="text-center" scope="col">STT</th>
                    <th class="text-center" scope="col">Tên</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="salary, index : ${listWorkSalaryType}">
                    <td class="text-center" th:text="*{index.count}"></td>
                    <td class="text-center" th:text="*{salary.workSalaryTypeName}"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div th:if="${listWorkSalaryType.size() == 0}">
                <h5 class="alert-info bg-dark-ui border-ui">Không có kiểu lương nào!</h5>
              </div>
            </div>
          </div>

      <div class="row">
              <div class="col-12 mb-3">
                <h3>Danh sách thời gian làm việc</h3>
                <div class="datatable bg-dark-ui border-ui" th:if="${listWorkTime.size() != 0}">
                  <table cellspacing="0" class="table" id="ListTime" width="100%">
                    <thead>
                    <tr>
                      <th class="text-center" scope="col">STT</th>
                      <th class="text-center" scope="col">Tên</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="time, index : ${listWorkTime}">
                      <td class="text-center" th:text="*{index.count}"></td>
                      <td class="text-center" th:text="*{time.workTimeName}"></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div th:if="${listWorkTime.size() == 0}">
                  <h5 class="alert-info bg-dark-ui border-ui">Không có thời gian nào!</h5>
                </div>
              </div>
            </div>

      <div class="row">
                <div class="col-12 mb-3">
                  <h3>Danh sách người thuê</h3>
                  <div class="datatable bg-dark-ui border-ui" th:if="${listWorkRequestBook.size() != 0}">
                    <table cellspacing="0" class="table" id="ListBook" width="100%">
                      <thead>
                      <tr>
                        <th class="text-center" scope="col">STT</th>
                        <th class="text-center" scope="col">Mã số bài đăng</th>
                        <th class="text-center" scope="col">Mã số tình trạng</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="book, index : ${listWorkRequestBook}">
                        <td class="text-center" th:text="*{index.count}"></td>
                        <td class="text-center" th:text="*{book.workRequestFindJobId}"></td>
                        <td class="text-center" th:text="*{book.workRequestBookSttId}"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div th:if="${listWorkRequestBook.size() == 0}">
                    <h5 class="alert-info bg-dark-ui border-ui">Không có người thuê nào!</h5>
                  </div>
                </div>
              </div>

      <div class="row">
                <div class="col-12 mb-3">
                  <h3>Danh sách người ứng tuyển</h3>
                  <div class="datatable bg-dark-ui border-ui" th:if="${listWorkRequestApply.size() != 0}">
                    <table cellspacing="0" class="table" id="ListAppy" width="100%">
                      <thead>
                      <tr>
                        <th class="text-center" scope="col">STT</th>
                        <th class="text-center" scope="col">Mã số bài đăng</th>
                        <th class="text-center" scope="col">Mã số tình trạng</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="apply, index : ${listWorkRequestApply}">
                        <td class="text-center" th:text="*{index.count}"></td>
                        <td class="text-center" th:text="*{apply.workRequestRecruitmentId}"></td>
                        <td class="text-center" th:text="*{apply.workRequestApplySttId}"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div th:if="${listWorkRequestApply.size() == 0}">
                    <h5 class="alert-info bg-dark-ui border-ui">Không có người ứng tuyển nào!</h5>
                  </div>
                </div>
              </div>

      <div class="row">
                <div class="col-12 mb-3">
                  <h3>Danh sách Report</h3>
                  <div class="datatable bg-dark-ui border-ui" th:if="${listWorkReport.size() != 0}">
                    <table cellspacing="0" class="table" id="ListReport" width="100%">
                      <thead>
                      <tr>
                        <th class="text-center" scope="col">STT</th>
                        <th class="text-center" scope="col">Lý do</th>
                        <th class="text-center" scope="col">Mô tả</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="report, index : ${listWorkReport}">
                        <td class="text-center" th:text="*{index.count}"></td>
                        <td class="text-center" th:text="*{report.workReportReason}"></td>
                        <td class="text-center" th:text="*{report.workReportDescription}"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div th:if="${listWorkReport.size() == 0}">
                    <h5 class="alert-info bg-dark-ui border-ui">Không có report nào!</h5>
                  </div>
                </div>
              </div>

      <div class="row">
                <div class="col-12 mb-3">
                  <h3>Danh sách các loại công việc</h3>
                  <div class="datatable bg-dark-ui border-ui" th:if="${listWorkJobType.size() != 0}">
                    <table cellspacing="0" class="table" id="ListJobType" width="100%">
                      <thead>
                      <tr>
                        <th class="text-center" scope="col">STT</th>
                        <th class="text-center" scope="col">Tên</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="type, index : ${listWorkJobType}">
                        <td class="text-center" th:text="*{index.count}"></td>
                        <td class="text-center" th:text="*{type.workJobTypeName}"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div th:if="${listWorkJobType.size() == 0}">
                    <h5 class="alert-info bg-dark-ui border-ui">Không có loại công việc nào!</h5>
                  </div>
                </div>
              </div>

      <div class="row">
                <div class="col-12 mb-3">
                  <h3>Danh sách comment</h3>
                  <div class="datatable bg-dark-ui border-ui" th:if="${listWorkComment.size() != 0}">
                    <table cellspacing="0" class="table" id="ListComment" width="100%">
                      <thead>
                      <tr>
                        <th class="text-center" scope="col">STT</th>
                        <th class="text-center" scope="col">Mã bài</th>
                        <th class="text-center" scope="col">Nội dung</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="comment, index : ${listWorkComment}">
                        <td class="text-center" th:text="*{index.count}"></td>
                        <td class="text-center" th:text="*{comment.workRequestRecruitmentId}"></td>
                        <td class="text-center" th:text="*{comment.workCommentContent}"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div th:if="${listWorkComment.size() == 0}">
                    <h5 class="alert-info bg-dark-ui border-ui">Không có comment nào!</h5>
                  </div>
                </div>
              </div>

      <div class="row">
                <div class="col-12 mb-3">
                  <h3>Danh sách tình trạng bài tìm công việc</h3>
                  <div class="datatable bg-dark-ui border-ui" th:if="${listSttWorkRequestFindJob.size() != 0}">
                    <table cellspacing="0" class="table" id="ListSttFind" width="100%">
                      <thead>
                      <tr>
                        <th class="text-center" scope="col">STT</th>
                        <th class="text-center" scope="col">Tên</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="stt, index : ${listSttWorkRequestFindJob}">
                        <td class="text-center" th:text="*{index.count}"></td>
                        <td class="text-center" th:text="*{stt.sttWorkRequestFindJobName}"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div th:if="${listSttWorkRequestFindJob.size() == 0}">
                    <h5 class="alert-info bg-dark-ui border-ui">Không có tình trạng nào!</h5>
                  </div>
                </div>
              </div>

      <div class="row">
                <div class="col-12 mb-3">
                  <h3>Danh sách tình trạng bài tìm công nhân</h3>
                  <div class="datatable bg-dark-ui border-ui" th:if="${listSttWorkRequestRecruitment.size() != 0}">
                    <table cellspacing="0" class="table" id="ListSttRecruitment" width="100%">
                      <thead>
                      <tr>
                        <th class="text-center" scope="col">STT</th>
                        <th class="text-center" scope="col">Tên</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="stt, index : ${listSttWorkRequestRecruitment}">
                        <td class="text-center" th:text="*{index.count}"></td>
                        <td class="text-center" th:text="*{stt.sttWorkRequestRecruitmentName}"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div th:if="${listSttWorkRequestRecruitment.size() == 0}">
                    <h5 class="alert-info bg-dark-ui border-ui">Không có tình trạng nào!</h5>
                  </div>
                </div>
              </div>

      <div class="row">
                <div class="col-12 mb-3">
                  <h3>Danh sách tình trạng bài Report</h3>
                  <div class="datatable bg-dark-ui border-ui" th:if="${listSttWorkReport.size() != 0}">
                    <table cellspacing="0" class="table" id="ListSttReport" width="100%">
                      <thead>
                      <tr>
                        <th class="text-center" scope="col">STT</th>
                        <th class="text-center" scope="col">Tên</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="stt, index : ${listSttWorkReport}">
                        <td class="text-center" th:text="*{index.count}"></td>
                        <td class="text-center" th:text="*{stt.sttWorkReportContent}"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div th:if="${listSttWorkReport.size() == 0}">
                    <h5 class="alert-info bg-dark-ui border-ui">Không có tình trạng nào!</h5>
                  </div>
                </div>
              </div>

  </div>
</div>

<script crossorigin="anonymous" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script crossorigin="anonymous" th:src="@{/js/fontawesome.js}"></script>
</body>
</html>