<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
  <title>Member</title>
</head>
<body>
<div class="container">

  <div>
    <table cellspacing="0" class="table" id="member" width="100%">
      <tr>
        <td class="text-center">Name</td>
        <td><input type="text" id="name" name="memberName"></td>
      </tr>
      <tr>
        <td class="text-center">Gender</td>
        <td>
          <input type="radio" id="malegender" name="memberGender"> Male
          <input type="radio" id="femalegender" name="memberGender"> Female
        </td>
      </tr>
      <tr>
        <td class="text-center">DOB</td>
        <td><input type="text" id="dob" name="memberName"></td>
      </tr>
      <tr>
        <td class="text-center">Mobile</td>
        <td><input type="text" id="mobile" name="memberName"></td>
      </tr>
      <tr>
        <td class="text-center">Email</td>
        <td><input type="text" id="email" name="memberName"></td>
      </tr>
    </table>
    <a class="text-danger action" data-bs-placement="top"
          data-bs-toggle="tooltip" th:href="@{/add-member}"
          title="Thêm thành viên">
          Thêm
    </a>
  </div>

  <div class="right mb-5">
    <div class="row">
      <div class="col-12 mb-3">
        <h3>Danh sách thành viên</h3>
        <div class="datatable bg-dark-ui border-ui" th:if="${members.size() != 0}">
          <table cellspacing="0" class="table" id="members" width="100%">
            <thead>
            <tr>
              <th class="text-center" scope="col">STT</th>
              <th class="text-center" scope="col">Thành viên</th>
              <th class="text-center" scope="col">Giới tính</th>
              <th class="text-center" scope="col">Ngày sinh</th>
              <th class="text-center" scope="col">Số điện thoại</th>
              <th class="text-center" scope="col">Email</th>
              <th class="text-center" scope="col" style="width: 80px;">Thêm</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member, index : ${members}">
              <td class="text-center" th:text="*{index.count}"></td>
              <td class="text-center" th:text="*{member.memberName}"></td>
              <td class="text-center" th:text="*{member.memberGender} ? 'Nam' : 'Nữ'"></td>
              <td class="text-center" th:text="${#calendars.format(member.memberDob, 'dd-MM-yyyy')}"></td>
              <td class="text-center" th:text="*{member.memberMobile}"></td>
              <td class="text-center" th:text="*{member.memberEmail}"></td>
              <td class="text-center">
                <a class="text-success action me-2" data-bs-placement="top"
                   data-bs-toggle="tooltip" th:href="@{/send-email(id=*{member.memberId})}" title="Chỉnh sửa">
                  Sửa
                </a>
                <a class="text-danger action" data-bs-placement="top"
                   data-bs-toggle="tooltip" th:href="@{/confirm-delete-member(id=*{member.memberId})}"
                   title="Xoá thành viên">
                  Xoá
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div th:if="${members.size() == 0}">
          <h5 class="alert-info bg-dark-ui border-ui">Không có thành viên nào!</h5>
        </div>
      </div>
    </div>

    <div class="right mb-5">
      <div class="row">
        <div class="col-12 mb-3">
          <h3>Danh sách công nhân</h3>
          <div class="datatable bg-dark-ui border-ui" th:if="${.size() != 0}">
            <table cellspacing="0" class="table" id="ListWorker" width="100%">
              <thead>
              <tr>
                <th class="text-center" scope="col">STT</th>
                <th class="text-center" scope="col">Tiêu đề</th>
                <th class="text-center" scope="col">Ngày bắt đầu</th>
                <th class="text-center" scope="col">Ngày kết thúc</th>
                <th class="text-center" scope="col">Mô tả</th>
                <th class="text-center" scope="col">Kinh nghiệm</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="worker, index : ${}">
                <td class="text-center" th:text="*{index.count}"></td>
                <td class="text-center" th:text="*{worker.workRequestFindJobTitle}"></td>
                <td class="text-center" th:text="*{worker.workRequestFindJobStartDateTime}"></td>
                <td class="text-center" th:text="${worker.workRequestFindJobEndDateTime}"></td>
                <td class="text-center" th:text="*{worker.workRequestFindJobDescription}"></td>
                <td class="text-center" th:text="*{worker.workRequestFindJobPersonalExperience}"></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div th:if="${.size() == 0}">
            <h5 class="alert-info bg-dark-ui border-ui">Không có công nhân nào!</h5>
          </div>
        </div>
      </div>

      <div class="right mb-5">
        <div class="row">
          <div class="col-12 mb-3">
            <h3>Danh sách công việc</h3>
            <div class="datatable bg-dark-ui border-ui" th:if="${.size() != 0}">
              <table cellspacing="0" class="table" id="ListJob" width="100%">
                <thead>
                <tr>
                  <th class="text-center" scope="col">STT</th>
                  <th class="text-center" scope="col">Tiêu đề</th>
                  <th class="text-center" scope="col">Ngày bắt đầu</th>
                  <th class="text-center" scope="col">Ngày kết thúc</th>
                  <th class="text-center" scope="col">Mô tả</th>
                  <th class="text-center" scope="col">Yêu cầu</th>
                  <th class="text-center" scope="col">Quyền lợi</th>
                  <th class="text-center" scope="col">Mức lương</th>
                  <th class="text-center" scope="col">Yêu cầu kinh nghiệm</th>
                  <th class="text-center" scope="col">Địa điểm làm việc</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="job, index : ${}">
                  <td class="text-center" th:text="*{index.count}"></td>
                  <td class="text-center" th:text="*{job.workRequestRecruitmentTitle}"></td>
                  <td class="text-center" th:text="*{job.workRequestRecruitmentStartDateTime}"></td>
                  <td class="text-center" th:text="${job.workRequestRecruitmentEndDateTime}"></td>
                  <td class="text-center" th:text="*{job.workRequestRecruitmentDescription}"></td>
                  <td class="text-center" th:text="*{job.workRequestRecruitmentRequirement}"></td>
                  <td class="text-center" th:text="*{job.workRequestRecruitmentBenefit}"></td>
                  <td class="text-center" th:text="*{job.workRequestRecruitmentWage}"></td>
                  <td class="text-center" th:text="*{job.workRequestRecruitmentExperienceRequirement}"></td>
                  <td class="text-center" th:text="*{job.workRequestRecruitmentWorkLocation}"></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div th:if="${.size() == 0}">
              <h5 class="alert-info bg-dark-ui border-ui">Không có công việc nào!</h5>
            </div>
          </div>
        </div>

        <div class="right mb-5">
          <div class="row">
            <div class="col-12 mb-3">
              <h3>Danh sách kiểu lương</h3>
              <div class="datatable bg-dark-ui border-ui" th:if="${.size() != 0}">
                <table cellspacing="0" class="table" id="ListSalary" width="100%">
                  <thead>
                  <tr>
                    <th class="text-center" scope="col">STT</th>
                    <th class="text-center" scope="col">Tên</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="salary, index : ${}">
                    <td class="text-center" th:text="*{index.count}"></td>
                    <td class="text-center" th:text="*{salary.workSalaryTypeName}"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div th:if="${.size() == 0}">
                <h5 class="alert-info bg-dark-ui border-ui">Không có kiểu lương nào!</h5>
              </div>
            </div>
          </div>

          <div class="right mb-5">
            <div class="row">
              <div class="col-12 mb-3">
                <h3>Danh sách thời gian làm việc</h3>
                <div class="datatable bg-dark-ui border-ui" th:if="${.size() != 0}">
                  <table cellspacing="0" class="table" id="ListTime" width="100%">
                    <thead>
                    <tr>
                      <th class="text-center" scope="col">STT</th>
                      <th class="text-center" scope="col">Tên</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="time, index : ${}">
                      <td class="text-center" th:text="*{index.count}"></td>
                      <td class="text-center" th:text="*{time.workTimeName}"></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div th:if="${.size() == 0}">
                  <h5 class="alert-info bg-dark-ui border-ui">Không có thời gian nào!</h5>
                </div>
              </div>
            </div>

            <div class="right mb-5">
              <div class="row">
                <div class="col-12 mb-3">
                  <h3>Danh sách người thuê</h3>
                  <div class="datatable bg-dark-ui border-ui" th:if="${.size() != 0}">
                    <table cellspacing="0" class="table" id="ListBook" width="100%">
                      <thead>
                      <tr>
                        <th class="text-center" scope="col">STT</th>
                        <th class="text-center" scope="col">Mã số bài đăng</th>
                        <th class="text-center" scope="col">Mã số tình trạng</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="book, index : ${}">
                        <td class="text-center" th:text="*{index.count}"></td>
                        <td class="text-center" th:text="*{book.workRequestFindJobId}"></td>
                        <td class="text-center" th:text="*{book.workRequestBookSttId}"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div th:if="${.size() == 0}">
                    <h5 class="alert-info bg-dark-ui border-ui">Không có người thuê nào!</h5>
                  </div>
                </div>
              </div>
            </div>

            <div class="right mb-5">
              <div class="row">
                <div class="col-12 mb-3">
                  <h3>Danh sách người ứng tuyển</h3>
                  <div class="datatable bg-dark-ui border-ui" th:if="${.size() != 0}">
                    <table cellspacing="0" class="table" id="ListAppy" width="100%">
                      <thead>
                      <tr>
                        <th class="text-center" scope="col">STT</th>
                        <th class="text-center" scope="col">Mã số bài đăng</th>
                        <th class="text-center" scope="col">Mã số tình trạng</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="apply, index : ${}">
                        <td class="text-center" th:text="*{index.count}"></td>
                        <td class="text-center" th:text="*{apply.workRequestRecruitmentId}"></td>
                        <td class="text-center" th:text="*{apply.workRequestApplySttId}"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div th:if="${.size() == 0}">
                    <h5 class="alert-info bg-dark-ui border-ui">Không có người ứng tuyển nào!</h5>
                  </div>
                </div>
              </div>
            </div>

            <div class="right mb-5">
              <div class="row">
                <div class="col-12 mb-3">
                  <h3>Danh sách Report</h3>
                  <div class="datatable bg-dark-ui border-ui" th:if="${.size() != 0}">
                    <table cellspacing="0" class="table" id="ListReport" width="100%">
                      <thead>
                      <tr>
                        <th class="text-center" scope="col">STT</th>
                        <th class="text-center" scope="col">Lý do</th>
                        <th class="text-center" scope="col">Mô tả</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="report, index : ${}">
                        <td class="text-center" th:text="*{index.count}"></td>
                        <td class="text-center" th:text="*{report.workReportReason}"></td>
                        <td class="text-center" th:text="*{apply.workReportDescription}"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div th:if="${.size() == 0}">
                    <h5 class="alert-info bg-dark-ui border-ui">Không có report nào!</h5>
                  </div>
                </div>
              </div>
            </div>

            <div class="right mb-5">
              <div class="row">
                <div class="col-12 mb-3">
                  <h3>Danh sách các loại công việc</h3>
                  <div class="datatable bg-dark-ui border-ui" th:if="${.size() != 0}">
                    <table cellspacing="0" class="table" id="ListJobType" width="100%">
                      <thead>
                      <tr>
                        <th class="text-center" scope="col">STT</th>
                        <th class="text-center" scope="col">Tên</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="type, index : ${}">
                        <td class="text-center" th:text="*{index.count}"></td>
                        <td class="text-center" th:text="*{type.workJobTypeName}"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div th:if="${.size() == 0}">
                    <h5 class="alert-info bg-dark-ui border-ui">Không có loại công việc nào!</h5>
                  </div>
                </div>
              </div>
            </div>

            <div class="right mb-5">
              <div class="row">
                <div class="col-12 mb-3">
                  <h3>Danh sách comment</h3>
                  <div class="datatable bg-dark-ui border-ui" th:if="${.size() != 0}">
                    <table cellspacing="0" class="table" id="ListComment" width="100%">
                      <thead>
                      <tr>
                        <th class="text-center" scope="col">STT</th>
                        <th class="text-center" scope="col">Mã bài</th>
                        <th class="text-center" scope="col">Nội dung</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="comment, index : ${}">
                        <td class="text-center" th:text="*{index.count}"></td>
                        <td class="text-center" th:text="*{comment.workRequestRecruitmentId}"></td>
                        <td class="text-center" th:text="*{comment.workCommentContent}"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div th:if="${.size() == 0}">
                    <h5 class="alert-info bg-dark-ui border-ui">Không có comment nào!</h5>
                  </div>
                </div>
              </div>
            </div>

            <div class="right mb-5">
              <div class="row">
                <div class="col-12 mb-3">
                  <h3>Danh sách tình trạng bài tìm công việc</h3>
                  <div class="datatable bg-dark-ui border-ui" th:if="${.size() != 0}">
                    <table cellspacing="0" class="table" id="ListSttFind" width="100%">
                      <thead>
                      <tr>
                        <th class="text-center" scope="col">STT</th>
                        <th class="text-center" scope="col">Tên</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="stt, index : ${}">
                        <td class="text-center" th:text="*{index.count}"></td>
                        <td class="text-center" th:text="*{stt.sttWorkRequestFindJobName}"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div th:if="${.size() == 0}">
                    <h5 class="alert-info bg-dark-ui border-ui">Không có tình trạng nào!</h5>
                  </div>
                </div>
              </div>
            </div>

            <div class="right mb-5">
              <div class="row">
                <div class="col-12 mb-3">
                  <h3>Danh sách tình trạng bài tìm công nhân</h3>
                  <div class="datatable bg-dark-ui border-ui" th:if="${.size() != 0}">
                    <table cellspacing="0" class="table" id="ListSttRecruitment" width="100%">
                      <thead>
                      <tr>
                        <th class="text-center" scope="col">STT</th>
                        <th class="text-center" scope="col">Tên</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="stt, index : ${}">
                        <td class="text-center" th:text="*{index.count}"></td>
                        <td class="text-center" th:text="*{stt.sttWorkRequestRecruitmentName}"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div th:if="${.size() == 0}">
                    <h5 class="alert-info bg-dark-ui border-ui">Không có tình trạng nào!</h5>
                  </div>
                </div>
              </div>
            </div>

            <div class="right mb-5">
              <div class="row">
                <div class="col-12 mb-3">
                  <h3>Danh sách tình trạng bài Report</h3>
                  <div class="datatable bg-dark-ui border-ui" th:if="${.size() != 0}">
                    <table cellspacing="0" class="table" id="ListSttReport" width="100%">
                      <thead>
                      <tr>
                        <th class="text-center" scope="col">STT</th>
                        <th class="text-center" scope="col">Tên</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="stt, index : ${}">
                        <td class="text-center" th:text="*{index.count}"></td>
                        <td class="text-center" th:text="*{stt.sttWorkReportContent}"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div th:if="${.size() == 0}">
                    <h5 class="alert-info bg-dark-ui border-ui">Không có tình trạng nào!</h5>
                  </div>
                </div>
              </div>
            </div>


  </div>
</div>

<script crossorigin="anonymous" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script crossorigin="anonymous" th:src="@{/js/fontawesome.js}"></script>
</body>
</html>