<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
  <title>Member</title>
</head>
<body>
<div class="container">

  <div class="right mb-5">
    <div class="row">
      <div class="col-12 mb-3">
        <h3>Danh sách thành viên</h3>
        <div class="datatable bg-dark-ui border-ui" th:if="${members.size() != 0}">
          <table cellspacing="0" class="table" id="members" width="100%">
            <thead>
            <tr>
              <th class="text-center" scope="col">STT</th>
              <th class="text-center" scope="col">Thành viên</th>
              <th class="text-center" scope="col">Giới tính</th>
              <th class="text-center" scope="col">Ngày sinh</th>
              <th class="text-center" scope="col">Số điện thoại</th>
              <th class="text-center" scope="col">Email</th>
              <th class="text-center" scope="col" style="width: 80px;">Thêm</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member, index : ${members}">
              <td class="text-center" th:text="*{index.count}"></td>
              <td class="text-center" th:text="*{member.memberName}"></td>
              <td class="text-center" th:text="*{member.memberGender} ? 'Nam' : 'Nữ'"></td>
              <td class="text-center" th:text="${#calendars.format(member.memberDob, 'dd-MM-yyyy')}"></td>
              <td class="text-center" th:text="*{member.memberMobile}"></td>
              <td class="text-center" th:text="*{member.memberEmail}"></td>
              <td class="text-center">
                <a class="text-success action me-2" data-bs-placement="top"
                   data-bs-toggle="tooltip" th:href="@{/send-email(id=*{member.memberId})}" title="Chỉnh sửa">
                  Sửa
                </a>
                <a class="text-danger action" data-bs-placement="top"
                   data-bs-toggle="tooltip" th:href="@{/confirm-delete-member(id=*{member.memberId})}"
                   title="Xoá thành viên">
                  Xoá
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div th:if="${members.size() == 0}">
          <h5 class="alert-info bg-dark-ui border-ui">Không có thành viên nào!</h5>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-3">
        <h3>Danh sách xe bus</h3>
        <div class="datatable bg-dark-ui border-ui" th:if="${listBus.size() != 0}">
          <table cellspacing="0" class="table" id="listBus" width="100%">
            <thead>
            <tr>
              <th class="text-center" scope="col">STT</th>
              <th class="text-center" scope="col">Name</th>
              <th class="text-center" scope="col">Giờ khởi hành</th>
              <th class="text-center" scope="col">Giờ nghỉ</th>
              <th class="text-center" scope="col">Thông tin tuyến</th>
              <th class="text-center" scope="col">Giá</th>
              <th class="text-center" scope="col">Điểm dừng</th>
              <th class="text-center" scope="col">Trạng thái</th>
              <th class="text-center" scope="col">Xóa</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bus, index : ${listBus}">
              <td class="text-center" th:text="*{index.count}"></td>
              <td class="text-center" th:text="*{bus.tfBusName}"></td>
              <td class="text-center" th:text="*{bus.tfBusStartTime}"></td>
              <td class="text-center" th:text="*{bus.tfBusEndTime}"></td>
              <td class="text-center" th:text="*{bus.tfBusInfo}"></td>
              <td class="text-center" th:text="*{bus.tfBusPrice}"></td>
              <td class="text-center">OK</td>
              <td class="text-center" th:text="*{bus.tfBusStatus}"></td>
              <td class="text-center" th:text="*{bus.tfBusDeleted} ? 'Đã xóa' : 'Chưa xóa'"></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div th:if="${listBus.size() == 0}">
          <h5 class="alert-info bg-dark-ui border-ui">Không có bus nào!</h5>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-3">
        <h3>Danh sách câu lạc bộ</h3>
        <div class="datatable bg-dark-ui border-ui" th:if="${listClub.size() != 0}">
          <table cellspacing="0" class="table" id="listClub" width="100%">
            <thead>
            <tr>
              <th class="text-center" scope="col">STT</th>
              <th class="text-center" scope="col">Name</th>
              <th class="text-center" scope="col">Logo</th>
              <th class="text-center" scope="col">Loại CLB</th>
              <th class="text-center" scope="col">Số lượng thành viên</th>
              <th class="text-center" scope="col">Tên người liên lạc</th>
              <th class="text-center" scope="col">Email người liên lạc</th>
              <th class="text-center" scope="col">Số điện thoại người liên lạc</th>
              <th class="text-center" scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="f, index : ${listClub}">
              <td class="text-center" th:text="*{index.count}"></td>
              <td class="text-center" th:text="*{f.fptuClubName}"></td>
              <td class="text-center">
                <img class="media-object" th:src="|data:image/png;base64,*{f.fptuClubLogo}|" width="60"/>
              </td>
              <td class="text-center" th:text="*{f.fptuClubTypeId}"></td>
              <td class="text-center" th:text="*{f.fptuClubMemberQuantity}"></td>
              <td class="text-center" th:text="*{f.fptuClubContactName}"></td>
              <td class="text-center" th:text="*{f.fptuClubContactEmail}"></td>
              <td class="text-center" th:text="*{f.fptuClubContactPhoneNumber}"></td>
              <td class="text-center" th:text="*{f.fptuClubDeleted}"></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div th:if="${listClub.size() == 0}">
          <h5 class="alert-info bg-dark-ui border-ui">Không có câu lạc bộ!</h5>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-3">
        <h3>Danh sách câu lạc bộ</h3>
        <div class="datatable bg-dark-ui border-ui" th:if="${listClubType.size() != 0}">
          <table cellspacing="0" class="table" id="listClubType" width="100%">
            <thead>
            <tr>
              <th class="text-center" scope="col">STT</th>
              <th class="text-center" scope="col">Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="f, index : ${listClubType}">
              <td class="text-center" th:text="*{index.count}"></td>
              <td class="text-center" th:text="*{f.fptuClubTypeName}"></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div th:if="${listClub.size() == 0}">
          <h5 class="alert-info bg-dark-ui border-ui">Không có câu lạc bộ!</h5>
        </div>
      </div>
    </div>

  </div>
</div>

<script crossorigin="anonymous" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script crossorigin="anonymous" th:src="@{/js/fontawesome.js}"></script>
</body>
</html>