<div class="col-right" th:fragment="profile-update">
  <!-- Profile -->
  <div class="profile-info">
    <div class="row">
      <div class="col-12">
        <h1 class="title fix-mb-title">Chỉnh sửa thông tin</h1>
      </div>
    </div>
    <form id="updateUserInfoForm" class="row panel-form mx-0 m-mb-16" method="post" th:action="@{/profile/update}"
          th:object="${updateUser}">
      <div class="form-group col-12 col-md-6 col-lg-4">
        <fieldset>
          <legend>Họ và tên</legend>
          <input type="text" class="form-control" th:field="${userDetail.userDetailName}">
        </fieldset>
      </div>
      <div class="form-group col-12 col-md-6 col-lg-4">
        <fieldset>
          <legend>Ngày sinh</legend>
          <input type="date" class="form-control" th:field="${userDetail.userDetailDob}">
        </fieldset>
      </div>
      <div class="form-group col-12 col-md-6 col-lg-4">
        <fieldset>
          <legend>Giới tính</legend>
          <div class="custom-radio ms-1">
            <div class="form-check me-4">
              <input class="form-check-input me-2" type="radio"
                     th:field="${userDetail.userDetailGender}" id="male"
                     value="1" th:checked="${userDetail.userDetailGender == 1}">
              <label class="form-check-label" for="male">Nam</label>
            </div>
            <div class="form-check">
              <input class="form-check-input me-2" type="radio"
                     th:field="${userDetail.userDetailGender}" id="female"
                     value="0" th:checked="${userDetail.userDetailGender == 0}">
              <label class="form-check-label" for="female">Nữ</label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="form-group col-12 col-md-6 col-lg-4">
        <fieldset>
          <legend>Số điện thoại</legend>
          <input type="text" class="form-control" th:field="${userDetail.userDetailPhone}">
        </fieldset>
      </div>
      <div class="form-group col-12 col-md-12 col-lg-8">
        <fieldset>
          <legend>Email</legend>
          <input type="email" class="form-control" th:field="${userDetail.userDetailEmail}">
        </fieldset>
      </div>
      <div class="col-md-12 text-end mt-2">
        <a href="javascript:void(0)" class="btn btn-md btn-secondary m-mb-12"
           onclick="document.getElementById('updateUserInfoForm').submit();">
          <i class="fas fa-check text-success mr-2"></i>Cập nhật thông tin
        </a>
      </div>
    </form>
  </div>
  <!-- Change password -->
  <div class="change-password">
    <div class="row">
      <div class="col-12">
        <h1 class="title fix-mb-title fix-mt-title">Đổi mật khẩu</h1>
      </div>
    </div>
    <form id="updateUserPasswordForm" class="row panel-form mx-0" method="post" th:action="@{/profile/password/update}">
      <div class="form-group col-12 col-md-6 col-lg-4">
        <fieldset>
          <legend>Mật khẩu cũ</legend>
          <input type="password" class="form-control" name="oldPass">
        </fieldset>
      </div>
      <div class="form-group col-12 col-md-6 col-lg-4">
        <fieldset>
          <legend>Mật khẩu mới</legend>
          <input type="password" class="form-control" name="newPass">
        </fieldset>
      </div>
      <div class="form-group col-12 col-md-6 col-lg-4">
        <fieldset>
          <legend>Xác nhận mật khẩu mới</legend>
          <input type="password" class="form-control" name="confirmNewPass">
        </fieldset>
      </div>
      <div class="col-md-12 text-end mt-2">
        <a href="javascript:void(0)" class="btn btn-md btn-secondary m-mb-12"
           onclick="document.getElementById('updateUserPasswordForm').submit();">
          <i class="fas fa-check text-success mr-2"></i>Xác nhận
        </a>
      </div>
    </form>
  </div>
</div>
