<div class="col-right" th:fragment="food">
  <div class="row">
    <div class="col-12">
      <h1 class="title fix-mb-title">Kết quả tìm kiếm cho "Ăn - uống"</h1>
    </div>
  </div>

  <!-- Title tag -->
  <div class="row">
    <div class="col-12">
      <h1 class="title fix-mb-title">Danh sách thẻ</h1>
    </div>
  </div>
  <!-- Tags -->
  <div class="row m-mb-20">
    <div class="col-md-12">
      <div class="list-tag">
        <div class="tags">
          <a href="#" class="tag">Cơm</a>
          <a href="#" class="tag">Bánh mỳ</a>
          <a href="#" class="tag">Đồ ăn vặt</a>
          <a href="#" class="tag">Đồ ăn nhanh</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Title food -->
  <div class="row">
    <div class="col-12">
      <h1 class="title fix-mb-title fix-mt-title">Danh sách đồ ăn</h1>
    </div>
  </div>
  <!-- List food -->
  <div class="list-food">
    <div class="row">
      <div class="col-lg-12 col-xl-6 col-xxl-6">
        <div class="food label-info m-mb-16">
          <div class="flex-sb">
            <div class="flex">
              <div class="icon-circle">
                <img class="media-object" src="assets/images/food/ride.jpg" alt="">
              </div>
              <div class="content-body">
                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#foodDetailModal">
                  Cơm hến Xào
                </a>
                <div class="food-info">
                  <p>Giá: 35.000<sup>đ</sup> &nbsp;&#8226;&nbsp; Đã bán: 50</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-xl-6 col-xxl-6">
        <div class="food label-info m-mb-16">
          <div class="flex-sb">
            <div class="flex">
              <div class="icon-circle">
                <img class="media-object" src="assets/images/food/ride.jpg" alt="">
              </div>
              <div class="content-body">
                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#foodDetailModal">
                  Cơm hến Xào
                </a>
                <div class="food-info">
                  <p>Giá: 35.000<sup>đ</sup> &nbsp;&#8226;&nbsp; Đã bán: 50</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-xl-6 col-xxl-6">
        <div class="food label-info m-mb-16">
          <div class="flex-sb">
            <div class="flex">
              <div class="icon-circle">
                <img class="media-object" src="assets/images/food/ride.jpg" alt="">
              </div>
              <div class="content-body">
                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#foodDetailModal">
                  Cơm hến Xào
                </a>
                <div class="food-info">
                  <p>Giá: 35.000<sup>đ</sup> &nbsp;&#8226;&nbsp; Đã bán: 50</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-xl-6 col-xxl-6">
        <div class="food label-info m-mb-16">
          <div class="flex-sb">
            <div class="flex">
              <div class="icon-circle">
                <img class="media-object" src="assets/images/food/ride.jpg" alt="">
              </div>
              <div class="content-body">
                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#foodDetailModal">
                  Cơm hến Xào
                </a>
                <div class="food-info">
                  <p>Giá: 35.000<sup>đ</sup> &nbsp;&#8226;&nbsp; Đã bán: 50</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>