<div class="col-right" th:fragment="food">
  <div class="row">
    <div class="col-12">
      <h1 class="title fix-mb-title">Kết quả tìm kiếm cho "Ăn - uống" - Từ Khóa: "<span th:text="${textSearch}"></span>"</h1>
    </div>
  </div>

  <!-- Title tag -->
  <div class="row">
    <div class="col-12">
      <h1 class="title fix-mb-title">Danh sách thẻ</h1>
    </div>
  </div>
  <!-- Tags -->
  <div class="row m-mb-20">
    <div class="col-md-12">
      <div class="list-tag" th:if="${foodTagListSearch != null && foodTagListSearch.size() != 0}">
        <div class="tags">
          <th:block th:each="foodTagSearch: ${foodTagListSearch}">
            <a href="#" class="tag"  th:text="*{foodTagSearch.foodTagName}"></a>
          </th:block>
        </div>
      </div>
      <div th:if="${foodTagListSearch == null && foodTagListSearch.size() == 0}">
        Không tìm thấy thẻ nào có kết quả "<span th:text="${textSearch}"></span>"
      </div>
    </div>
  </div>

  <!-- Title food -->
  <div class="row">
    <div class="col-12">
      <h1 class="title fix-mb-title fix-mt-title">Danh sách đồ ăn</h1>
    </div>
  </div>
  <!-- List food -->
  <div class="list-food" th:if="${foodItemListSearch != null && foodItemListSearch.size() != 0}">
    <div class="row">
      <div class="col-lg-12 col-xl-6 col-xxl-6" th:each="foodItemSearch : ${foodItemListSearch}">
        <div class="food label-info m-mb-16">
          <div class="flex-sb">
            <div class="flex">
              <div class="icon-circle">
                <img class="media-object" src="assets/images/food/ride.jpg" alt="">
              </div>
              <div class="content-body">
                <a th:href="@{/food/store(id=*{foodItemSearch.foodStoreOnlineId})}"
                   th:text="*{foodItemSearch.foodItemName}">
                </a>
                <div class="food-info">
                  <p>Giá: <span th:text="*{#numbers.formatInteger(foodItemSearch.foodItemPrice, 3, 'POINT')}"></span><sup>đ</sup>
                    &nbsp;&#8226;&nbsp; Đã bán: <span th:text="*{foodItemSearch.foodItemSoldNumber}"></span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div  th:if="${foodItemListSearch == null && foodItemListSearch.size() == 0}">
    Không tìm thấy món ăn nào có kết quả "<span th:text="${textSearch}"></span>"
  </div>
</div>