<div class="col-right" th:fragment="work">
  <div class="row">
    <div class="col-12">
      <h1 class="title fix-mb-title">Kết quả tìm kiếm cho "Việc làm"</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h1 class="title fix-mb-title">Danh sách tuyển dụng</h1>
    </div>
  </div>

  <!-- List request -->
  <div class="list-request">
    <div class="row">
      <div class="col-md-12" th:each="requestRecruitment : ${requestRecruitmentListSearch}">
        <a th:href="@{/works/jobs/recruitment/detail(id=*{requestRecruitment.workRequestRecruitmentId})}"
           class="label-info m-mb-16">
          <div class="flex">
            <div class="icon-s">
              <img class="media-object" th:src="@{'/images/system/job.png'}" alt="">
            </div>
            <div class="content-body">
              <h4 class="accent" th:text="*{requestRecruitment.workRequestRecruitmentTitle}"></h4>
              <div class="request-info flex-sb">
                <p>Lương: <span th:text="*{requestRecruitment.workRequestRecruitmentSalary}"></span></p>
                <p>Thời hạn: <span
                    th:text="*{#dates.format(requestRecruitment.workRequestRecruitmentEndDateTime, 'dd-MM-yyyy')}"></span>
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h1 class="title fix-mb-title fix-mt-title">Danh sách tìm việc</h1>
    </div>
  </div>

  <!-- List request -->
  <div class="list-request">
    <div class="row">
      <div class="col-md-12" th:each="requestFindJob : ${requestFindJobListSearch}">
        <a th:href="@{/works/jobs/find/detail(id=${requestFindJob.workRequestFindJobId})}" class="label-info m-mb-16">
          <div class="flex">
            <div class="icon-s">
              <img class="media-object" th:src="@{'/images/system/job.png'}" alt="">
            </div>
            <div class="content-body">
              <h4 class="accent" th:text="*{requestFindJob.workRequestFindJobTitle}"></h4>
              <div class="request-info flex-sb">
                <p>Lương mong muốn: <span th:text="*{#numbers.formatInteger(requestFindJob.workRequestFindJobExpectedSalary, 3, 'POINT')}"></span>
                  <span
                      th:text="*{
                                        requestFindJob.workSalaryUnitId == 1 ? 'VNĐ/h' :
                                        requestFindJob.workSalaryUnitId == 2 ? 'VNĐ/Ngày' :
                                        requestFindJob.workSalaryUnitId == 3 ? 'VNĐ/Tuần' : 'VNĐ/Tháng'}"
                  ></span></p>
                <p>Thời hạn: <span th:text="*{#dates.format(requestFindJob.workRequestFindJobEndDateTime, 'dd-MM-yyyy')}"></span></p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>