<div class="col-md-8 col-lg-9 col-xl-9 col-xxl-9" th:fragment="jobs-apply">
  <div class="col-right">
    <!-- List job apply -->
    <div class="list-job" th:if="${jobList.size != 0}">
      <div class="row">
        <div class="col-12">
          <h1 class="title fix-mb-title">Việc làm đã ứng tuyển</h1>
        </div>

      </div>
      <div class="row">
        <div class="col-md-12" th:each = "job : ${jobList}">
          <div class="label-info m-mb-15">
            <div class="btn-remove">
              <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#confirmApplyJobModal">
                <i class="fas fa-ban m-0"></i>
              </a>
            </div>
            <div class="flex">
              <div class="icon">
                <img class="media-object" src="../../images/system/v.png" alt="">
              </div>
              <div class="content-body">
                <a th:href="@{/works/job-detail(id=${job.workRequestRecruitmentId})}">
                  <span th:text="*{job.workRequestRecruitmentTitle}"></span>
                </a>
                <div class="job-info">
                  <p>Lương: <span th:text="*{job.workRequestRecruitmentSalary}"></span></p>
                  <p>Thời hạn: <span th:text="*{job.workRequestRecruitmentEndDateTime}"></span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
  </div>
    <div class="list-job" th:if="${jobList.size == 0}">
      <div class="row">
        <div class="col-12">
          <h1 class="title fix-mb-title">Không có việc làm đã ứng tuyển</h1>
        </div>
      </div>
    </div>
  </div>
</div>