<div class="col-right" th:fragment="jobs-save-draft">
  <!-- List job save -->
  <div class="list-job" th:if="${jobSaveDraftList.size != 0}">
    <div class="row">
      <div class="col-12">
        <h1 class="title fix-mb-title">Baì viết lưu nháp</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" th:each="job: ${jobSaveDraftList}">
        <div class="label-info m-mb-16">
          <div class="btn-remove">
            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#confirmRemoveJobSaveModal">
              <i class="far fa-trash-alt m-0"></i>
            </a>
          </div>
          <div class="flex">
            <div class="icon">
              <img class="media-object" src="../../images/system/v.png" alt="">
            </div>
            <div class="content-body">
              <a href="#">
                <span th:text="*{job.workRequestFindJobTitle}"></span>
              </a>
              <div class="job-info">
                <p></p>
                <p>Thời hạn: <span th:text="*{job.workRequestFindJobEndDateTime}"></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-job" th:if="${jobSaveDraftList.size == 0}">
    <div class="row">
      <div class="col-12">
        <h1 class="title fix-mb-title">Không có bài viết lưu nháp nào</h1>
      </div>
    </div>
  </div>
</div>
