<div class="col-md-8 col-lg-9 col-xl-9 col-xxl-9 col-right" th:fragment="jobs">
  <!-- List job type -->
  <div class="list-job-type">
    <div class="row">
      <div class="col-12">
        <h1 class="title fix-mb-title">Loại việc làm</h1>
      </div>
    </div>
    <div class="row" th:each="jobtypes : ${jobTypes}">
      <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <a href="jobs.html" class="label-info m-mb-20">
          <div class="flex">
            <div class="icon">
              <i class="fas fa-bars"></i>
            </div>
            <div class="number">
              <h4 th:text="*{jobtypes.workJobTypeCount}"></h4>
            </div>
          </div>
          <div class="description club-type" th:text="*{jobtypes.workJobTypeName}">
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- List jobs -->
  <div class="list-job">
    <div class="row">
      <div class="col-12">
        <h1 class="title fix-mt-title fix-mb-title">Danh sách việc làm</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" th:each="listjobs : ${listjobs}">
        <a th:href="@{/job-detail(id=${listjobs.workRequestRecruitmentId}, jobTypeId=${listjobs.workJobTypeId})}" class="label-info m-mb-15">
          <div class="flex">
            <div class="icon">
              <img class="media-object" src="../images/system/v.png" alt="">
            </div>
            <div class="content-body">
              <h4 th:text="*{listjobs.workRequestRecruitmentTitle}"></h4>
              <div class="job-info">
                <p>Lương: <span th:text="*{listjobs.workRequestRecruitmentWage}"></span></p>
                <p>Thời hạn: <span th:text="*{listjobs.workRequestRecruitmentEndDateTime}"></span></p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>