<div class="col-right" th:fragment="list-booked">
  <!-- List recruitment -->
  <div class="list-request">
    <div class="row">
      <div class="col-12">
        <h1 class="title fix-mb-title">Danh sách thuê</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" th:each="work : ${listBooked}">
        <div class="label-info m-mb-16">
          <div class="btn-action">
            <a th:id="'btn-show-list-booked' + ${work.workRequestFindJobId}" href="javascript:void(0)">
              <th:block th:with="listUser=${userDetailService.getAllUserBookedByUserId(work.workRequestFindJobId)}">
                <span th:text="${listUser.size()}"></span>
              </th:block>
              <i class="fas fa-user-friends m-0" onclick="getIdOfRequestBooked(event)">
                <span th:text="${work.workRequestFindJobId}" class="d-none"></span>
              </i>
            </a>
          </div>
          <div class="flex">
            <div class="icon-v">
              <i class="fas fa-user-check fa-fw"></i>
            </div>
            <div class="content-body">
              <a th:href="@{/works/jobs/find/detail(id=${work.workRequestFindJobId})}">
                <span th:text="*{work.workRequestFindJobTitle}"></span>
              </a>
              <div class="request-info">
                <p>Lương mong muốn:
                  <span th:text="${#numbers.formatInteger(work.workRequestFindJobExpectedSalary, 3, 'POINT')}"></span>
                  VND/<span th:text="*{
                                        work.workSalaryUnitId == 1 ? 'h' :
                                        work.workSalaryUnitId == 2 ? 'ngày' :
                                        work.workSalaryUnitId == 3 ? 'tuần' : 'tháng'
                                    }"></span> &nbsp;&#8226;&nbsp; Thời hạn:
                <span th:text="*{#dates.format(work.workRequestFindJobEndDateTime, 'dd-MM-yyyy')}"></span></p>
                <p th:classappend="*{work.sttWorkCode == 3 ? 'text-success' : 'text-danger'}"
                   th:text="*{work.sttWorkCode == 3 ? 'Đang ứng tuyển' : 'Hết hạn ứng tuyển'}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
