<div class="col-right" th:fragment="request-recruitment-detail">
  <!-- Job detail -->
  <div class="request-detail">
    <div class="row">
      <div class="col-12">
        <h1 class="title fix-mb-title">Chi tiết việc làm</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="panel request-title">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-9">
              <h3 th:text="${jobDetail.workRequestRecruitmentTitle}"></h3>
              <p>
                <i class="far fa-clock fa-fw"></i>Hạn nộp hồ sơ:
                <span th:text="${#dates.format(jobDetail.workRequestRecruitmentEndDateTime, 'dd-MM-yyyy')}"></span>
              </p>
              <p>
                <i class="fas fa-map-marker-alt fa-fw"></i>Địa điểm:
                <span th:text="${jobDetail.workRequestRecruitmentWorkLocation}"></span>
              </p>
            </div>
            <div class="col-md-12 col-lg-12 col-xl-3">
              <div class="apply-area">
                <div class="apply-area-btn" sec:authorize="hasRole('STUDENT')">
                  <div class="btn-apply" th:if="${!applied}">
                    <a id="btn-apply-request" class="btn btn-md btn-success"
                       th:onclick="'javascript:confirmApplyRequestRecruitment(' + ${jobDetail.workRequestRecruitmentId} + ')'">
                      <span id="label-apply-request">ỨNG TUYỂN NGAY<span>
                    </a>
                  </div>
                  <div class="btn-apply" th:if="${applied}">
                    <a href="javascript:void(0)" class="btn btn-md btn-success">
                      ĐÃ ỨNG TUYỂN
                    </a>
                  </div>
                  <div class="btn-save-request" th:if="${!saved}">
                    <a id="btn-save-request" href="javascript:void(0)" class="btn btn-md btn-secondary m-mt-16"
                       th:onclick="'javascript:saveRequestRecruitment(' + ${jobDetail.workRequestRecruitmentId} + ')'">
                      <i id="icon-save-request" class="far fa-bookmark"></i>
                      <span id="label-save-request">LƯU TIN</span>
                    </a>
                  </div>
                  <div class="btn-save-request" th:if="${saved}">
                    <a href="javascript:void(0)" class="btn btn-md btn-secondary m-mt-16">
                      <i class="fas fa-bookmark"></i>
                      <span>ĐÃ LƯU</span>
                    </a>
                  </div>
                </div>
                <div class="apply-area-btn" sec:authorize="!isAuthenticated()">
                  <div class="btn-apply">
                    <a th:href="@{/login}" class="btn btn-md btn-success">
                      ỨNG TUYỂN NGAY
                    </a>
                  </div>
                  <div class="btn-save-request">
                    <a th:href="@{/login}" class="btn btn-md btn-secondary m-mt-16">
                      <i class="far fa-bookmark"></i>
                      <span>LƯU TIN</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h2 class="sub-title">Thông tin tuyển dụng</h2>
        <div class="panel-text">
          <div class="row-info">
            <div><i class="fas fa-coins fa-fw"></i>Mức lương</div>
            <div>
              <span sec:authorize="isAuthenticated()" th:text="${jobDetail.workRequestRecruitmentSalary}"></span>
              <span sec:authorize="!isAuthenticated()">Đăng nhập để xem lương</span>
            </div>
          </div>
          <div class="row-info">
            <div><i class="fas fa-user-clock fa-fw"></i>Hình thức làm việc</div>
            <div th:text="${jobType.workRequestTypeName}"></div>
          </div>
          <div class="row-info">
            <div><i class="fas fa-user-friends fa-fw"></i>Số lượng cần tuyển</div>
            <div><span th:text="${jobDetail.workRequestRecruitmentQuantity}"></span> người</div>
          </div>
          <div class="row-info">
            <div><i class="fas fa-user-plus fa-fw"></i>Yêu cầu kinh nghiệm</div>
            <div
                th:text="${jobDetail.workRequestRecruitmentExperienceRequirement ? 'Có yêu cầu' : 'Không yêu cầu'}">
            </div>
          </div>
          <div class="row-info">
            <div><i class="fas fa-venus-mars fa-fw"></i>Yêu cầu giới tính</div>
            <div th:text="${jobDetail.workRequestRecruitmentGenderRequirement ? 'Có yêu cầu' : 'Không yêu cầu'}"></div>
          </div>
        </div>
        <h2 class="sub-title">Mô tả công việc</h2>
        <div class="panel-text">
          <pre th:text="${jobDetail.workRequestRecruitmentDescription}"></pre>
        </div>
        <h2 class="sub-title">Yêu cầu</h2>
        <div class="panel-text">
          <pre th:text="${jobDetail.workRequestRecruitmentRequirement}"></pre>
        </div>
        <h2 class="sub-title">Quyền lợi được hưởng</h2>
        <div class="panel-text">
          <pre th:text="${jobDetail.workRequestRecruitmentBenefit}"></pre>
        </div>
      </div>
    </div>
  </div>
</div>