<div class="col-right" th:fragment="request-recruitment-saved">
  <!-- List job save -->
  <div class="list-request" th:if="${jobSaveList.size != 0}">
    <div class="row">
      <div class="col-12">
        <h1 class="title fix-mb-title">Việc làm đã lưu</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" th:each="job: ${jobSaveList}">
        <div class="label-info m-mb-16">
          <div class="btn-remove">
            <a href="javascript:void(0)">
              <i class="far fa-trash-alt m-0" onclick="confirmDeleteRequestSave(event)">
                <span th:text="${job.workRequestRecruitmentId}" class="d-none"></span>
              </i>
            </a>
          </div>
          <div class="flex">
            <div class="icon-v">
              <i class="fas fa-bookmark fa-fw"></i>
            </div>
            <div class="content-body">
              <a th:href="@{/works/request-recruitment-detail(id=${job.workRequestRecruitmentId})}">
                <span th:text="*{job.workRequestRecruitmentTitle}"></span>
              </a>
              <div class="request-info">
                <p>Lương: <span th:text="*{job.workRequestRecruitmentSalary}"></span> &nbsp;&#8226;&nbsp;
                  Thời hạn: <span th:text="*{job.workRequestRecruitmentEndDateTime}"></span></p>
                <p th:classappend="*{job.sttWorkCode == 3 ? 'text-success' : 'text-danger'}"
                   th:text="*{job.sttWorkCode == 3 ? 'Đang tuyển dụng' : 'Hết hạn tuyển dụng'}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-job" th:if="${jobSaveList.size == 0}">
    <div class="row">
      <div class="col-12">
        <h1 class="title fix-mb-title">Không có việc làm đã lưu</h1>
      </div>
    </div>
  </div>
</div>
