<div class="col-right" th:fragment="request-find-job-manage">
  <!-- List request type -->
  <div class="list-request-type">
    <div class="row">
      <div class="col-12">
        <h1 class="title fix-mb-title">Loại bài viết</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <a href="works-request-find-job-manage.html" class="label-info m-mb-16">
          <div class="flex">
            <div class="icon">
              <i class="far fa-dot-circle"></i>
            </div>
            <div class="number">
              <h4>3</h4>
            </div>
          </div>
          <div class="description club-type">
            Đã duyệt
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <a href="works-request-find-job-manage-pending.html" class="label-info m-mb-16">
          <div class="flex">
            <div class="icon">
              <i class="far fa-clock"></i>
            </div>
            <div class="number">
              <h4>2</h4>
            </div>
          </div>
          <div class="description club-type">
            Đang chờ duyệt
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <a href="works-request-find-job-manage-complete.html" class="label-info m-mb-16">
          <div class="flex">
            <div class="icon">
              <i class="far fa-check-circle"></i>
            </div>
            <div class="number">
              <h4>2</h4>
            </div>
          </div>
          <div class="description club-type">
            Đã hoàn thành
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <a href="works-request-find-job-manage-expired.html" class="label-info m-mb-16">
          <div class="flex">
            <div class="icon">
              <i class="far fa-times-circle"></i>
            </div>
            <div class="number">
              <h4>2</h4>
            </div>
          </div>
          <div class="description club-type">
            Hết hạn
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <a href="#" class="label-info m-mb-16">
          <div class="flex">
            <div class="icon">
              <i class="far fa-stop-circle"></i>
            </div>
            <div class="number">
              <h4>2</h4>
            </div>
          </div>
          <div class="description club-type">
            Từ chối duyệt
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <a href="works-request-find-job-manage-save-draft.html" class="label-info m-mb-16">
          <div class="flex">
            <div class="icon">
              <i class="far fa-arrow-alt-circle-down"></i>
            </div>
            <div class="number">
              <h4>2</h4>
            </div>
          </div>
          <div class="description club-type">
            Lưu nháp
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- List request -->
  <div class="list-request">
    <div class="row">
      <div class="col-12">
        <h1 class="title fix-mt-title fix-mb-title">Danh sách bài viết</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="label-info m-mb-16">
          <div class="btn-remove">
            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#confirmRemoveFindJobModal">
              <i class="far fa-trash-alt m-0"></i>
            </a>
          </div>
          <div class="flex">
            <div class="icon-s">
              <img class="media-object" src="../../images/system/job.png" alt="">
            </div>
            <div class="content-body">
              <a href="#">Giáo Viên Tiếng Anh Online/Offline</a>
              <div class="job-info">
                <p>Lương mong muốn: 20k/h</p>
                <p>Thời hạn: 15/10/2021</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="label-info m-mb-16">
          <div class="btn-remove">
            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#confirmRemoveFindJobModal">
              <i class="far fa-trash-alt m-0"></i>
            </a>
          </div>
          <div class="flex">
            <div class="icon-s">
              <img class="media-object" src="../../images/system/job.png" alt="">
            </div>
            <div class="content-body">
              <a href="#">Giáo Viên Tiếng Anh Online/Offline</a>
              <div class="job-info">
                <p>Lương mong muốn: 3.000.000/tháng</p>
                <p>Thời hạn: 15/10/2021</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="label-info m-mb-16">
          <div class="btn-remove">
            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#confirmRemoveFindJobModal">
              <i class="far fa-trash-alt m-0"></i>
            </a>
          </div>
          <div class="flex">
            <div class="icon-s">
              <img class="media-object" src="../../images/system/job.png" alt="">
            </div>
            <div class="content-body">
              <a href="#">Giáo Viên Tiếng Anh Online/Offline</a>
              <div class="job-info">
                <p>Lương mong muốn: 3.000.000/tháng</p>
                <p>Thời hạn: 15/10/2021</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>