<div class="col-right" th:fragment="request-find-job-detail">
    <!-- Request find job detail -->
    <div class="request-detail">
        <div class="row">
            <div class="col-12">
                <h1 class="title fix-mb-title">Chi tiết tìm việc</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="panel request-title">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-9">
                            <h3>Nhận gia sư Tiếng Anh Online/Offline</h3>
                            <p><i class="far fa-calendar-alt fa-fw"></i>Ngày hết hạn: 23/12/2021</p>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xl-3">
                            <div class="apply-area">
                                <div class="apply-area-btn">
                                    <div class="btn-apply">
                                        <a href="javascript:void(0)" class="btn btn-md btn-success" data-bs-toggle="modal" data-bs-target="#confirmHireModal">
                                            THUÊ NGAY
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="sub-title">Thông tin yêu cầu</h2>
                <div class="panel-text">
                    <div class="row-info">
                        <div><i class="fas fa-coins fa-fw"></i>Mức lương mong muốn</div>
                        <div>300.000 VND / Giờ</div>
                    </div>
                    <div class="row-info">
                        <div><i class="fas fa-exchange-alt fa-fw"></i>Hình thức thanh toán</div>
                        <div>2 tuần / lần</div>
                    </div>
                    <div class="row-info">
                        <div><i class="fas fa-user-clock fa-fw"></i>Hình thức làm việc</div>
                        <div>Bán thời gian</div>
                    </div>
                    <div class="row-info">
                        <div><i class="far fa-clock fa-fw"></i>Thời gian làm việc</div>
                        <div>Buổi tối</div>
                    </div>
                    <div class="row-info">
                        <div><i class="fas fa-map-marker-alt fa-fw"></i>Địa điểm làm việc mong muốn</div>
                        <div>Cây xăng 39, Thôn 8, Thạch Hoà, Thạch Thất, Hà Nội</div>
                    </div>
                </div>
                <h2 class="sub-title">Mô tả</h2>
                <div class="panel-text">
                    <pre>
- Giảng dạy các khóa học của hệ thống: TOEIC 4 kỹ năng; Luyện Thi IELTS; Tiếng Anh Giao tiếp theo hình thức online/offline.
- Giảng dạy các dự án lớn chuẩn đầu ra TOEIC, IELTS cho các Tổng công ty, Tập đoàn là khách hàng, đối tác của Công ty.
- Giảng dạy theo ca từ thứ Hai đến thứ Bảy hàng tuần trên hệ thống trực tuyến E Bomb của Công ty.</pre>
                </div>
                <h2 class="sub-title">Kinh nghiệm</h2>
                <div class="panel-text">
                    <pre>
- ĐÃ TỐT NGHIỆP ĐẠI HỌC (KHÔNG NHẬN ỨNG VIÊN CHƯA TỐT NGHIỆP), ưu tiên tốt nghiệp chuyên ngành tiếng Anh hoặc theo học các chương trình giảng dạy bằng tiếng Anh hoặc các du học sinh nước ngoài
- Đã có chứng chỉ Tiếng Anh: 7.0 IELTS hoặc 800 TOEIC trở lên. Ưu tiên chứng chỉ còn thời hạn.
- Kĩ năng tiếng Anh tốt, phát âm chuẩn, ngữ điệu tự nhiên, có khả năng truyền "Lửa" đến học viên.
- Kỹ năng giao tiếp, kỹ năng truyền đạt tốt.
- Nhiệt huyết, tận tâm, yêu thích công việc giảng dạy.
- Vui vẻ, thân thiện, cởi mở và ham học hỏi.</pre>
                </div>
            </div>
        </div>
    </div>
</div>

