<div class="col-right" th:fragment="update-request-find-job">
  <!-- Form create request find job -->
  <div class="post-find-job">
    <div class="row">
      <div class="col-12">
        <h1 class="title fix-mb-title">Chỉnh sửa bài tìm việc làm</h1>
      </div>
    </div>
    <form class="row panel-form mx-0" method="post" th:action="@{/works/jobs/find/edit}"
          th:object="${requestFindJob}">
      <input type="hidden" name="workRequestFindJobId" th:value="${requestFindJob.workRequestFindJobId}">
      <div class="form-group col-12 col-md-6 col-lg-4">
        <fieldset class="bg-dark-ui">
          <legend>Hình thức làm việc</legend>
          <select class="form-control form-select" th:field="${requestFindJob.workRequestTypeId}">
            <option value="1" selected="selected">Toàn thời gian</option>
            <option value="2">Bán thời gian</option>
            <option value="3">Thời vụ</option>
          </select>
        </fieldset>
      </div>
      <div class="form-group col-12 col-md-6 col-lg-4">
        <fieldset class="bg-dark-ui">
          <legend>Thời gian làm việc</legend>
          <select class="form-control form-select" th:field="${requestFindJob.workTimeId}">
            <option value="1" selected="selected">Buổi sáng</option>
            <option value="2">Buổi chiều</option>
            <option value="3">Buổi tối</option>
          </select>
        </fieldset>
      </div>
      <div class="form-group col-12 col-md-6 col-lg-4">
        <fieldset>
          <legend>Ngày hết hạn</legend>
          <input type="date" class="form-control" th:field="${requestFindJob.workRequestFindJobEndDateTime}">
        </fieldset>
      </div>
      <div class="form-group col-12 col-md-6 col-lg-4">
        <fieldset class="bg-dark-ui">
          <legend>Hình thức thanh toán</legend>
          <select class="form-control form-select" th:field="${requestFindJob.workPaymentMethodId}">
            <option value="1" selected="selected">Thanh toán theo ngày</option>
            <option value="2">Thanh toán 1 tuần / lần</option>
            <option value="3">Thanh toán 2 tuần / lần</option>
            <option value="4">Thanh toán theo tháng</option>
          </select>
        </fieldset>
      </div>
      <div class="form-group col-12 col-md-6 col-lg-4">
        <fieldset class="bg-dark-ui">
          <legend>Đơn vị tính lương</legend>
          <select class="form-control form-select" th:field="${requestFindJob.workSalaryUnitId}">
            <option value="1" selected="selected">Tính theo giờ</option>
            <option value="2">Tính theo ngày</option>
            <option value="3">Tính theo tuần</option>
            <option value="4">Tính theo tháng</option>
          </select>
        </fieldset>
      </div>
      <div class="form-group col-12 col-md-6 col-lg-4">
        <fieldset>
          <legend>Tiền lương mong muốn</legend>
          <input type="number" class="form-control pe-5" th:field="${requestFindJob.workRequestFindJobExpectedSalary}">
          <label class="unit">VND</label>
        </fieldset>
      </div>
      <div class="form-group col-12 col-md-6 col-lg-12">
        <fieldset>
          <legend>Địa điểm làm việc mong muốn</legend>
          <input type="text" class="form-control" th:field="${requestFindJob.workRequestFindJobExpectedLocation}">
        </fieldset>
      </div>
      <div class="form-group col-md-12">
        <fieldset>
          <legend>Tiêu đề</legend>
          <input type="text" class="form-control" id="title" th:field="${requestFindJob.workRequestFindJobTitle}">
        </fieldset>
      </div>
      <div class="form-group col-md-12">
        <fieldset>
          <legend>Mô tả</legend>
          <textarea class="form-control" rows="5" th:field="${requestFindJob.workRequestFindJobDescription}"></textarea>
        </fieldset>
      </div>
      <div class="form-group col-md-12">
        <fieldset>
          <legend>Kinh nghiệm nếu có</legend>
          <textarea class="form-control" rows="5" th:field="${requestFindJob.workRequestFindJobPersonalExperience}"></textarea>
        </fieldset>
      </div>
      <div class="col-md-12 text-end mt-2">
        <a href="javascript:void(0)" class="btn btn-md btn-secondary me-2 m-mb-12">
          <i class="fas fa-ban text-danger mr-2"></i>Huỷ bỏ
        </a>
        <button class="btn btn-md btn-secondary me-2 m-mb-12" type="submit" name="saveDraft">
          <i class="fas fa-download text-info mr-2"></i>Lưu nháp
        </button>
        <a href="javascript:void(0)" class="btn btn-md btn-secondary me-2 m-mb-12" data-bs-toggle="modal"
           data-bs-target="#previewModal">
          <i class="fas fa-eye text-warning mr-2"></i>Xem trước
        </a>
        <button class="btn btn-md btn-secondary m-mb-12" type="submit" name="save" id="btn-submit">
          <i class="fas fa-check text-success mr-2"></i>Đăng bài
        </button>
      </div>
    </form>
  </div>
</div>