<!-- Modal order successfully -->
<div class="modal fade" id="confirmOrderSuccessfullyModal" tabindex="-1" aria-labelledby="confirmOrderSuccessfullyModalLabel"
     aria-hidden="true" th:fragment="confirmOrderSuccessfullyModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div class="modal-body text-center">
        <h3><i class="bi bi-check2-circle"></i>Đặt hàng thành công!</h3>
      </div>
      <div class="modal-footer text-center pb-4">
        <a href="javascript:void(0)" class="btn btn-md btn-secondary me-2">
          <i class="far fa-file-alt text-info"></i>Xem đơn hàng
        </a>
        <a href="javascript:void(0)" class="btn btn-md btn-secondary">
          <i class="fas fa-plus text-success"></i>Đặt đồ ăn
        </a>
      </div>
    </div>
  </div>
</div>