<!-- Modal food detail -->
<div class="modal fade" id="foodDetailModal" tabindex="-1" aria-labelledby="foodDetailModalLabel" aria-hidden="true"
     th:fragment="foodDetailModal">
  <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="foodDetailModalLabel">Thông tin</h5>
      </div>
      <div class="modal-body">
        <div class="flex">
          <div class="icon-circle">
            <img id="food-item-img-modal" class="media-object" src="" alt="">
          </div>
          <div class="content-body">
            <h3 id="food-item-name-modal"></h3>
            <p class="price">Giá: <span id="food-item-price-modal"></span><sup>đ</sup></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a id="food-item-add-to-cart" onclick="" class="btn btn-sm btn-success me-2">
          <i class="fas fa-plus"></i>Thêm vào giỏ hàng
        </a>
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>