<!-- Modal List Order Detail -->
<div class="modal fade" id="orderDetailModal" tabindex="-1" aria-labelledby="orderDetailModalLabel"
     aria-hidden="true" th:fragment="orderDetailModal">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content" th:with="orderId=${foodOrderDetailList.get(0).foodOrderId}">
      <div class="modal-header flex-sb">
        <h5 class="modal-title" id="orderDetailModalLabel">Chi tiết đơn hàng
          <span class="text-info" th:text="${'#' + format.orderId(orderId)}"></span>
        </h5>
        <div class="report-order" th:with="order=${foodOrderService.getOne(orderId)}">
          <i class="bi bi-calendar3-week ms-2 me-1"></i><span th:text="${#dates.format(order.foodOrderCreatedDate, 'dd-MM-yyyy')}"></span>
          <i class="far fa-clock ms-2 me-1"></i><span th:text="${#dates.format(order.foodOrderCreatedDate, 'HH:mm:ss')}"></span>
        </div>
      </div>
      <div class="modal-body">
        <table class="table mb-0">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tên đồ ăn</th>
            <th scope="col" class="text-center">Số lượng</th>
            <th scope="col" class="text-center">Đơn giá</th>
            <th scope="col" class="text-end">Tổng tiền</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="foodOrderDetail, stt : ${foodOrderDetailList}">
            <td th:text="*{stt.index + 1}"></td>
            <td>
              <a th:href="@{/food/store(id=${foodStoreOnlineId})}"
                 th:text="${foodOrderDetail.foodItemName}">
              </a>
            </td>
            <td class="text-center">
              <span th:text="*{foodOrderDetail.foodItemQuantity}"></span>
            </td>
            <td class="text-center">
              <span th:text="*{#numbers.formatInteger(foodOrderDetail.foodItemPrice, 3, 'POINT')}"></span><sup>đ</sup>
            </td>
            <td class="text-end">
              <span th:text="*{#numbers.formatInteger(foodOrderDetail.foodItemQuantity * foodOrderDetail.foodItemPrice, 3, 'POINT')}"></span><sup>đ</sup>
            </td>
          </tr>
          </tbody>
        </table>
        <table class="mt-3">
          <tr>
            <td class="contact-store-name">Tên cửa hàng:</td>
            <td>
              <a class="text-info ms-2" th:href="@{/food/store(id=${foodStoreOnlineId})}"
                 th:text="${foodStoreOnlineName}">
              </a>
            </td>
          </tr>
          <tr class="mt-1">
            <td class="contact-mobile">Số điện thoại:</td>
            <td><span class="text-info ms-2" th:text="${format.phoneNumber(sellerPhoneNumber)}"></span></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <th:block th:if="${orderStatus < 3}">
          <a th:href="@{/food/order/cancel(orderId=${orderId})}" class="btn btn-sm btn-secondary me-2">
            <i class="fas fa-times text-danger"></i>Huỷ đơn hàng
          </a>
        </th:block>
        <a href="javascript:void(0)" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Đóng</a>
      </div>
    </div>
  </div>
</div>