<!-- Modal confirm delete report -->
<div class="modal fade" id="confirmDeleteReportOrderModal" tabindex="-1" aria-labelledby="confirmDeleteReportOrderModalLabel"
     aria-hidden="true" th:fragment="confirmDeleteReportOrderModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteReportOrderModalLabel">Thông báo</h5>
      </div>
      <div class="modal-body">
        Xác nhận xoá báo cáo cho đơn hàng này?
      </div>
      <div class="modal-footer">
        <a id="btn-delete-report" href="javascript:void(0)" class="btn btn-sm btn-secondary me-2">
          <i class="fas fa-check text-success"></i>Xác nhận
        </a>
        <a href="javascript:void(0)" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Đóng</a>
      </div>
    </div>
  </div>
</div>