<!-- Modal List Order Detail -->
<div class="modal fade" id="listOrderDetailModal" tabindex="-1" aria-labelledby="listOrderDetailModalLabel"
     aria-hidden="true" th:fragment="listOrderDetailModal">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="listOrderDetailModalLabel">Chi tiết đơn hàng</h5>
      </div>
      <div class="modal-body">
        <table class="table mb-0">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tên đồ ăn</th>
            <th scope="col" class="text-center">Số lượng</th>
            <th scope="col" class="text-center">Đơn giá</th>
            <th scope="col" class="text-end">Tổng tiền</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="foodOrderDetail, iterStat : ${foodOrderDetailList}">
            <td th:text="*{iterStat.index + 1}"></td>
            <td th:with="foodItem=${foodItemService.getOne(foodOrderDetail.foodItemId)}">
              <a th:href="@{/food/online-store(id=${foodStoreOnline.foodStoreOnlineId})}"
                   th:text="${foodItem.foodItemName}">Cơm hến xào</a></td>
            <td class="text-center" th:text="*{foodOrderDetail.foodItemQuantity}"></td>
            <td class="text-center">
              <span th:text="*{#numbers.formatInteger(foodOrderDetail.foodItemPrice, 3, 'POINT')}"></span><sup>đ</sup>
            </td>
            <td class="text-end">
              <span th:text="*{#numbers.formatInteger(foodOrderDetail.foodItemQuantity * foodOrderDetail.foodItemPrice,
              3, 'POINT')}"></span><sup>đ</sup>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <th:block th:if="${orderStatus < 3}">
          <a th:href="@{/food/order/updateSttFood(orderId=${orderId})}" class="btn btn-sm btn-secondary me-2">
            <i class="fas fa-times text-danger"></i>Huỷ đơn hàng
          </a>
        </th:block>
        <a href="javascript:void(0)" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Đóng</a>
      </div>
    </div>
  </div>
</div>