<!-- Modal List Order Detail -->
<div class="modal fade" id="listOrderedDetailModal" tabindex="-1" aria-labelledby="listOrderedDetailModalLabel"
     aria-hidden="true" th:fragment="listOrderedDetailModal">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="listOrderedDetailModalLabel">Chi tiết đơn hàng</h5>
      </div>
      <div class="modal-body">
        <table class="table mb-0">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tên đồ ăn</th>
            <th scope="col" class="text-center">Số lượng</th>
            <th scope="col" class="text-center">Đơn giá</th>
            <th scope="col" class="text-end">Tổng tiền</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td><a href="">Cơm hến xào</a></td>
            <td class="text-center">1</td>
            <td class="text-center">35.000<sup>đ</sup></td>
            <td class="text-end">35.000<sup>đ</sup></td>
          </tr>
          <tr>
            <td>2</td>
            <td><a href="">Trà ô long</a></td>
            <td class="text-center">2</td>
            <td class="text-center">25.000<sup>đ</sup></td>
            <td class="text-end">50.000<sup>đ</sup></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0)" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Đóng</a>
      </div>
    </div>
  </div>
</div>