<!-- Modal cancel order -->
<div class="modal fade" id="confirmCancelOrderInCartModal" tabindex="-1" aria-labelledby="confirmCancelOrderInCartModalLabel"
     aria-hidden="true" th:fragment="confirmCancelOrderInCartModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmCancelOrderInCartModalLabel">Thông báo</h5>
      </div>
      <div class="modal-body">
        Xác nhận huỷ đơn hàng?
      </div>
      <div class="modal-footer">
        <a th:href="@{/food/cart/delete}" class="btn btn-sm btn-secondary me-2">
          <i class="fas fa-check text-success"></i>Xác nhận
        </a>
        <a href="javascript:void(0)" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Đóng</a>
      </div>
    </div>
  </div>
</div>