<!-- Modal rate -->
<div class="modal fade" id="onlineStoreRateModal" tabindex="-1" aria-labelledby="onlineStoreRateModalLabel"
     aria-hidden="true" th:fragment="onlineStoreRateModal">
  <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="onlineStoreRateModalLabel">Đánh giá cửa hàng</h5>
      </div>
      <div class="modal-body">
        <form class="row">
          <div class="form-group col-md-12">
            <fieldset class="fieldset-rate">
              <legend>Điểm đánh giá</legend>
              <div class="custom-radio">
                <div class="form-check">
                  <input class="form-check-input me-2" type="radio" name="rate" id="one-star" value="1">
                  <label class="form-check-label" for="one-star">1<i class="fas fa-star ms-1 checked"></i></label>
                </div>
                <div class="form-check">
                  <input class="form-check-input me-2" type="radio" name="rate" id="two-star" value="2">
                  <label class="form-check-label" for="two-star">2<i class="fas fa-star ms-1 checked"></i></label>
                </div>
                <div class="form-check">
                  <input class="form-check-input me-2" type="radio" name="rate" id="three-star" value="3">
                  <label class="form-check-label" for="three-star">3<i class="fas fa-star ms-1 checked"></i></label>
                </div>
                <div class="form-check">
                  <input class="form-check-input me-2" type="radio" name="rate" id="four-star" value="4">
                  <label class="form-check-label" for="four-star">4<i class="fas fa-star ms-1 checked"></i></label>
                </div>
                <div class="form-check">
                  <input class="form-check-input me-2" type="radio" name="rate" id="five-star" value="5">
                  <label class="form-check-label" for="five-star">5<i class="fas fa-star ms-1 checked"></i></label>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="form-group col-md-12 m-0">
            <fieldset>
              <legend>Ý kiến đánh giá</legend>
              <textarea class="form-control" rows="3"></textarea>
            </fieldset>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0)" class="btn btn-sm btn-secondary me-2">
          <i class="fas fa-check text-success mr-2"></i>Xác nhận
        </a>
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>