<!-- Modal note Order -->
<div class="modal fade" id="noteOrderModal" tabindex="-1" aria-labelledby="noteOrderModalLabel" aria-hidden="true"
     th:fragment="noteOrderModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="noteOrderModalLabel">Ghi chú</h5>
      </div>
      <div class="modal-body">
        <div id="orderNote"></div>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0)" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Đóng</a>
      </div>
    </div>
  </div>
</div>