<div class="col-right" th:fragment="cart">
  <!-- Cart -->
  <div class="cart">
    <div class="row">
      <div class="col-12">
        <h1 class="title fix-mb-title">Giỏ hàng</h1>
      </div>
    </div>
    <div class="panel" th:if="${session.mapFoodOrder == null}">
      <div class="row">
        <div class="col-lg-12">
          <div class="flex-sb">
            <p class="m-0">Danh sách giỏ hàng hiện tại trống.</p>
            <div>
              <a th:href="@{/food}" class="btn btn-md btn-secondary">
                <i class="fas fa-plus text-success"></i>Mua hàng ngay
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel" th:if="${session.mapFoodOrder != null}">
      <div class="row">
        <div class="col-lg-12">
          <div class="flex-sb">
            <p class="m-0 store-name"><i class="fas fa-store me-3"></i>
              <span th:text="${session.mapFoodOrder.get('foodStoreOnlineName')}"></span>
            </p>
            <div>
              <a th:href="@{/food/store(id=${session.mapFoodOrder.get('foodStoreOnlineId')})}" class="btn btn-md btn-secondary">
                <i class="fas fa-plus text-success"></i>Tiếp tục mua hàng
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel pt-2" th:if="${session.mapFoodOrder != null}">
      <div class="row">
        <div class="col-lg-12">
          <table id="cart-table" class="table" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th class="text-center">#</th>
              <th>Tên sản phẩm</th>
              <th class="text-center">Giá</th>
              <th class="text-center">Số lượng</th>
              <th class="text-end">Tổng tiền</th>
              <th class="text-end">Thêm</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="food, stt : ${session.mapFoodOrder.get('listFoodOrder')}">
              <td class="text-center" th:text="*{stt.index + 1}"></td>
              <td>
                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#foodDetailModal"
                th:text="*{food.foodName}"></a>
              </td>
              <td class="text-center">
                <span th:text="*{#numbers.formatInteger(food.unitPrice, 3, 'POINT')}"></span><sup>đ</sup>
              </td>
              <td class="text-center">
                <a class="btn-cart" th:href="@{/food/cart/update/quantity(foodId=*{food.foodId}, flag=0)}">
                  <i class="fas fa-minus text-info"></i>
                </a>
                <span th:text="*{food.quantity}"></span>
                <a class="btn-cart" th:href="@{/food/cart/update/quantity(foodId=*{food.foodId}, flag=1)}">
                  <i class="fas fa-plus text-info"></i>
                </a>
              </td>
              <td class="text-end">
                <span th:text="*{#numbers.formatInteger(food.totalPrice, 3, 'POINT')}"></span><sup>đ</sup>
              </td>
              <td class="text-end">
                <a href="javascript:void(0)" class="color-danger">
                  <i class="far fa-trash-alt" data-bs-placement="top" data-bs-toggle="tooltip" title="Xoá đồ ăn"
                     th:onclick="'javascript:confirmDeleteItemInCart(' + *{food.foodId} + ')'">
                  </i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="btn-group">
            <div class="totalMoney">
              Tổng tiền:&nbsp; <span class="text-info" th:text="${#numbers.formatInteger(session.mapFoodOrder.get('totalMoney'), 3, 'POINT')}"></span><sup class="text-info">đ</sup>
            </div>
            <div>
              <a href="javascript:void(0)" class="btn btn-md btn-secondary" data-bs-toggle="modal" data-bs-target="#confirmDeleteCartModal">
                <i class="far fa-trash-alt color-danger"></i>Xoá tất cả
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Shipping address -->
  <div class="shipping-address" th:if="${session.mapFoodOrder != null}">
    <div class="row">
      <div class="col-12">
        <h1 class="title fix-mb-title fix-mt-title">Thông tin giao hàng</h1>
      </div>
    </div>
    <form class="row panel-form mx-0 m-mb-16">
      <div class="form-group col-12 col-md-12 col-lg-6">
        <fieldset>
          <legend>Họ và tên</legend>
          <input type="text" class="form-control" readonly th:value="${userAddress.userName}">
        </fieldset>
      </div>
      <div class="form-group col-12 col-md-12 col-lg-6">
        <fieldset>
          <legend>Số điện thoại</legend>
          <input type="text" class="form-control" readonly th:value="${format.phoneNumber(userAddress.userPhone)}">
        </fieldset>
      </div>
      <div class="form-group col-12 col-md-12 col-lg-12">
        <fieldset>
          <legend>Địa chỉ</legend>
          <input type="text" class="form-control" readonly th:value="${userAddress.userAddress}">
        </fieldset>
      </div>
      <div class="form-group col-12 col-md-12 col-lg-12">
        <fieldset>
          <legend>Ghi chú</legend>
          <input type="text" class="form-control">
        </fieldset>
      </div>
      <div class="col-md-12 text-end mt-2">
        <a href="javascript:void(0)" class="btn btn-md btn-secondary m-mb-12 me-2" data-bs-toggle="modal" data-bs-target="#confirmCancelOrderInCartModal">
          <i class="fas fa-ban color-danger"></i>Huỷ đơn hàng
        </a>
        <a href="javascript:void(0)" class="btn btn-md btn-secondary m-mb-12 me-2">
          <i class="fas fa-pencil-alt text-success"></i>Chỉnh sửa địa chỉ
        </a>
        <a href="javascript:void(0)" class="btn btn-md btn-secondary m-mb-12" data-bs-toggle="modal" data-bs-target="#confirmOrderSuccessfullyModal">
          <i class="fas fa-check text-success"></i>Xác nhận mua hàng
        </a>
      </div>
    </form>
  </div>
</div>