<div class="col-right" th:fragment="online-store">
  <!-- Online store -->
  <div class="online-store">
    <div class="row">
      <div class="col-12">
        <h1 class="title fix-mb-title">Thông tin cửa hàng</h1>
      </div>
    </div>
    <!-- Online store info -->
    <div class="row">
      <div class="col-12">
        <div class="label-info online-store-title">
          <div class="row">
            <div class="col-lg-12 col-xl-9">
              <div class="flex">
                <div class="icon-circle">
                  <img class="media-object" th:src="@{'/images/system/v.png'}" alt="">
                </div>
                <div class="content-body">
                  <h3 th:text="${foodStoreOnline.foodStoreOnlineName}"></h3>
                  <div class="description" th:text="${foodStoreOnline.foodStoreOnlineDescription}"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-xl-3">
              <div class="rate-area">
                <div>
                  <h1><span th:text="${#numbers.formatDecimal(foodStoreOnline.foodStoreOnlineRate, 1, 1, 'POINT')}"></span></h1>
                  <div class="star-rate">
                    <i th:classappend="${(foodStoreOnline.foodStoreOnlineRate >= 1) ? 'fas fa-star checked' : 'far fa-star'}"></i>
                    <i th:classappend="${(foodStoreOnline.foodStoreOnlineRate >= 2) ? 'fas fa-star checked' : 'far fa-star'}"></i>
                    <i th:classappend="${(foodStoreOnline.foodStoreOnlineRate >= 3) ? 'fas fa-star checked' : 'far fa-star'}"></i>
                    <i th:classappend="${(foodStoreOnline.foodStoreOnlineRate >= 4) ? 'fas fa-star checked' : 'far fa-star'}"></i>
                    <i th:classappend="${(foodStoreOnline.foodStoreOnlineRate >= 5) ? 'fas fa-star checked' : 'far fa-star'}"></i>
                  </div>
                  <div class="reviews"><span th:text="${foodStoreOnline.foodStoreOnlineCountRate}"></span> đánh giá
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- Tabs - Pills -->
        <div class="menu">
          <ul class="row nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item col-sm-12 col-md-3" role="presentation">
              <a class="nav-link active" id="pills-food-tab" data-bs-toggle="pill" data-bs-target="#pills-food"
                 type="button" role="tab" aria-controls="pills-food" aria-selected="true">
                Thực đơn<sup class="ms-2 main-text"><span th:text="${foodStoreOnline.foodStoreOnlineCountFoodItem}"></span></sup>
              </a>
            </li>
            <li class="nav-item col-sm-12 col-md-3" role="presentation">
              <a class="nav-link" id="pills-comment-tab" data-bs-toggle="pill" data-bs-target="#pills-comment"
                 type="button" role="tab" aria-controls="pills-comment" aria-selected="false">
                Bình luận<sup class="ms-2 main-text"><span th:text="${foodStoreOnline.foodStoreOnlineCountRate}"></span></sup>
              </a>
            </li>
            <li class="nav-item col-sm-12 col-md-3" role="presentation">
              <a class="nav-link" id="pills-report-tab" data-bs-toggle="pill" data-bs-target="#pills-report"
                 type="button" role="tab" aria-controls="pills-report" aria-selected="false">
                Báo cáo<sup class="ms-2 main-text"><span th:text="${foodStoreOnline.foodStoreOnlineCountReport}"></span></sup>
              </a>
            </li>
            <li class="nav-item col-sm-12 col-md-3" role="presentation">
              <a th:href="@{/login}" class="nav-link" sec:authorize="!isAuthenticated()">
                Đánh giá
              </a>
              <a href="javascript:void(0)" class="nav-link" data-bs-toggle="modal"
                 data-bs-target="#onlineStoreRateModal" sec:authorize="isAuthenticated()">
                Đánh giá
              </a>
            </li>
          </ul>
        </div>
        <!-- Tab content -->
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-food" role="tabpanel" aria-labelledby="pills-food-tab">
            <!-- List tag -->
            <div class="row m-mb-16">
              <div class="col-md-12">
                <div class="list-tag">
                  <div class="tags">
                    <a class="tag" th:href="@{/food/online-store(id=${foodStoreOnline.foodStoreOnlineId})}">Tất cả</a>
                    <th:block th:each="foodStoreOnlineTag : ${foodStoreOnlineTagList}">
                      <a class="tag"
                         th:href="@{/food/online-store/tag(tagId=*{foodStoreOnlineTag.foodTagId}, id=${foodStoreOnline.foodStoreOnlineId})}"
                         th:text="*{foodStoreOnlineTag.foodTagName}">
                      </a>
                    </th:block>
                  </div>
                </div>
              </div>
            </div>
            <div class="list-food">
              <div class="row">
                <div class="col-lg-12 col-xl-6 col-xxl-6" th:each="foodItem : ${foodItemList}">
                  <div class="food label-info m-mb-16">
                    <div class="flex-sb">
                      <div class="flex">
                        <div class="icon-circle">
                          <img class="media-object" th:src="@{'/images/food/ride.jpg'}" alt="">
                        </div>
                        <div class="content-body">
                          <a th:href="@{/food/online-store/food-detail(id=${foodStoreOnline.foodStoreOnlineId},
                              itemId=*{foodItem.foodItemId}, tagId=${tagId})}"
                             th:text="*{foodItem.foodItemName}">
                          </a>
                          <div class="food-info">
                            <p>Giá:
                              <span th:text="*{#numbers.formatInteger(foodItem.foodItemPrice, 3, 'POINT')}"></span><sup>đ</sup>
                              &nbsp;&#8226;&nbsp;
                              Đã bán: <span th:text="*{foodItem.foodItemSoldNumber}"></span>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="flex">
                        <a href="javascript:void(0)" class="btn-more mx-0" onclick="showToast()">
                          <i class="fas fa-plus text-success"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-comment" role="tabpanel" aria-labelledby="pills-comment-tab">
            <div class="row">
              <div class="col-md-12">
                <div class="list-comment">
                  <div class="panel pb-1">
                    <div class="comment flex" th:each="comment : ${listComment}">
                      <div class="icon-circle">
                        <img class="media-object" th:src="@{'/images/system/v.png'}" alt="">
                        <div class="star-rate">
                          <i th:classappend="*{(comment.foodStoreOnlineRatePoint >= 1) ? 'fas fa-star checked' : 'far fa-star'}"></i>
                          <i th:classappend="*{(comment.foodStoreOnlineRatePoint >= 2) ? 'fas fa-star checked' : 'far fa-star'}"></i>
                          <i th:classappend="*{(comment.foodStoreOnlineRatePoint >= 3) ? 'fas fa-star checked' : 'far fa-star'}"></i>
                          <i th:classappend="*{(comment.foodStoreOnlineRatePoint >= 4) ? 'fas fa-star checked' : 'far fa-star'}"></i>
                          <i th:classappend="*{(comment.foodStoreOnlineRatePoint >= 5) ? 'fas fa-star checked' : 'far fa-star'}"></i>
                        </div>
                      </div>
                      <div class="comment-area">
                        <div class="comment-content" th:with="user=${userDetailService.getOneByUserId(comment.userId)}">
                          <h3 th:text="${user.userDetailName}"></h3>
                          <p th:text="*{comment.foodStoreOnlineRateComment}"></p>
                        </div>
                        <div class="time">
                          <p th:text="${#dates.format(comment.foodStoreOnlineRateCreateTime, 'dd-MM-yyyy HH:mm')}"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-report" role="tabpanel" aria-labelledby="pills-report-tab">
            <div class="row">
              <div class="col-md-12">
                <div class="list-comment">
                  <div class="panel pb-1">
                    <div class="comment flex" th:each="report : ${listReport}">
                      <div class="icon-circle">
                        <img class="media-object" th:src="@{'/images/system/v.png'}" alt="">
                      </div>
                      <div class="comment-area">
                        <div class="comment-content" th:with="user=${userDetailService.getOneByUserId(report.userId)}">
                          <h3 th:text="${user.userDetailName}"></h3>
                          <p th:text="*{report.foodReportContent}"></p>
                        </div>
                        <div class="time">
                          <p th:text="${#dates.format(report.foodReportCreateDate, 'dd-MM-yyyy HH:mm')}"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
