<div class="col-right" th:fragment="user-order">
  <!-- User order -->
  <div class="user-order">
    <div class="row">
      <div class="col-12">
        <h1 class="title fix-mb-title">Danh sách đơn hàng</h1>
      </div>
    </div>
    <div class="panel pt-2">
      <div class="row data-tables">
        <div class="col-lg-12">
          <table id="order-table-no-filter" table class="table m-0" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th>Mã GD</th>
              <th class="text-center">Thời gian</th>
              <th class="text-end">Tổng tiền</th>
              <th class="text-end">Trạng thái</th>
              <th class="text-end">Thêm</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="foodOrder : ${foodOrderList}">
              <td><a th:href="@{/food/user-order/order-detail(orderId=*{foodOrder.foodOrderId}, sttCODE=${sttCODE},
              orderStatus=*{foodOrder.sttFoodCode})}">
                #<span th:text="*{T(com.hola.holalandcore.util.Format).orderId(foodOrder.foodOrderId)}"></span></a></td>
              <td class="text-center" th:text="*{#dates.format(foodOrder.foodOrderCreatedDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
              <td class="text-end"><span
                  th:text="*{#numbers.formatInteger(foodOrder.foodOrderTotalPrice, 3, 'POINT')}"></span><sup>đ</sup>
              </td>
              <td th:classappend="*{foodOrder.sttFoodCode == 1 ? 'text-info text-end' : 'text-warning text-end'}"
                  th:text="*{foodOrder.sttFoodCode == 1 ? 'Chờ xác nhận' : 'Đã xác nhận'}"></td>
              <td class="text-end">
                <a href="javascript:void(0)" class="color-danger" data-bs-toggle="modal"
                   data-bs-target="#confirmCancelOrderModal">
                  <i class="fas fa-times fa-lg" data-bs-placement="top" data-bs-toggle="tooltip" onclick="confirmCandelOrder(event)"
                     title="Hủy đơn hàng">
                    <span th:text="${foodOrder.foodOrderId}" class="d-none"></span>
                  </i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- User history order -->
  <div class="user-history-order">
    <div class="row">
      <div class="col-12">
        <h1 class="title fix-mt-title fix-mb-title">Lịch sử đơn hàng</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4" th:each="type : ${sttTypeList}">
        <a th:href="@{/food/user-order/type(sttCODE=*{type.sttFoodId})}" class="label-info m-mb-16"
           th:classappend="${type.sttFoodId == sttCODE ? 'active' : ''}">

          <div class="flex">
            <div class="icon">
              <i th:classappend="*{type.sttFoodIcon}"></i>
            </div>
            <div class="number">
              <h4>0</h4>
            </div>
          </div>
          <div class="description" th:text="*{type.sttFoodValue}"></div>
        </a>
      </div>
    </div>
    <div class="panel m-mt-20">
      <div class="row data-tables">
        <div class="col-lg-12">
          <table id="order-history-table" table class="table" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th>Mã GD<i class="fas fa-sort fa-size"></i></th>
              <th class="text-center">Thời gian<i class="fas fa-sort fa-size"></i></th>
              <th class="text-end">Tổng tiền<i class="fas fa-sort fa-size"></i></th>
              <th class="text-end">Trạng thái<i class="fas fa-sort fa-size"></i></th>
              <th class="text-end">Thêm<i class="fas fa-sort fa-size"></i></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="foodOrdered : ${foodOrderedList}">
              <td><a th:href="@{/food/user-order/order-detail(orderId=*{foodOrdered.foodOrderId}, sttCODE=${sttCODE},
              orderStatus=*{foodOrdered.sttFoodCode})}">
                #<span th:text="*{T(com.hola.holalandcore.util.Format).orderId(foodOrdered.foodOrderId)}"></span></a></td>
              <td class="text-center" th:text="*{#dates.format(foodOrdered.foodOrderCreatedDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
              <td class="text-end"><span
                  th:text="*{#numbers.formatInteger(foodOrdered.foodOrderTotalPrice, 3, 'POINT')}"></span><sup>đ</sup>
              </td>
              <td th:classappend="*{foodOrdered.sttFoodCode == 3 ? 'text-secondary text-end' :
              (foodOrdered.sttFoodCode == 4 ? 'color-success text-end' : 'text-danger text-end')}"
                  th:text="*{foodOrdered.sttFoodCode == 3 ? 'Đã từ chối' :
              (foodOrdered.sttFoodCode == 4 ? 'Hoàn thành' : 'Đã hủy')}">
              </td>
              <td class="text-end">
                <th:block th:if="*{foodOrdered.sttFoodCode == 3}">
                  <a th:href="@{/food/user-order/reason-reject
                  (orderId=*{foodOrdered.foodOrderId}, sttCODE=${sttCODE})}" class="text-info">
                    <i class="far fa-comment-dots" data-bs-placement="top" data-bs-toggle="tooltip"
                       th:title= "*{foodOrdered.foodOrderNote}">
                    </i>
                  </a>
                </th:block>
                <th:block th:if="*{foodOrdered.sttFoodCode == 4}">
                <a th:href="@{/food/user-order/report-order(storeId=*{foodOrdered.foodStoreOnlineId},
                orderId=*{foodOrdered.foodOrderId}, sttCODE=${sttCODE})}" class="text-warning">
                  <i class="bi bi-exclamation-circle" data-bs-placement="top" data-bs-toggle="tooltip"
                     title="Báo cáo"></i>
                </a>
                </th:block>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>