<!-- Modal confirm remove -->
<div class="modal fade" id="confirmRemoveRecruitmentRequestModal" tabindex="-1" aria-labelledby="confirmRemoveRecruitmentRequestModalLabel" aria-hidden="true"
     th:fragment="confirmRemoveRecruitmentRequest">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmRemoveRecruitmentRequestModalLabel">Thông báo</h5>
      </div>
      <div class="modal-body">
        Xác nhận xoá bài tuyển dụng này?
      </div>
      <div class="modal-footer">
        <a id="btn-delete-recruitment-request" href="javascript:void(0)" class="btn btn-sm btn-secondary me-2">
          <i class="fas fa-check text-success mr-2"></i>Xác nhận
        </a>
        <a href="javascript:void(0)" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Đóng</a>
      </div>
    </div>
  </div>
</div>