<!-- Modal list applied -->
<div class="modal fade" id="listAppliedModal" tabindex="-1" aria-labelledby="listAppliedModalLabel" aria-hidden="true"
     th:fragment="listAppliedModal">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="listAppliedModalLabel">Danh sách ứng tuyển</h5>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Họ và tên</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Giới tính</th>
            <th scope="col" class="text-end">Hành động</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="userDetail, order : ${listAppliedModal}">
            <td><span th:text="*{(order.index) + 1}"></span></td>
            <td><span th:text="*{userDetail.userDetailName}"></span></td>
            <td><span th:text="*{#dates.format(userDetail.userDetailDob, 'dd-MM-yyyy')}"></span></td>
            <td><span th:text="*{userDetail.userDetailPhone}"></span></td>
            <td><span th:text="*{userDetail.userDetailGender == 1 ? 'Nam' : 'Nữ' }"></span></td>
            <td class="text-end">
              <a th:href="@{/works/apply/show/accepted(appliedId=${appliedId}, userId=*{userDetail.userId})}" class="me-3">
                <i class="fas fa-check text-success"></i>
              </a>
              <a th:href="@{/works/apply/show/rejected(appliedId=${appliedId}, userId=*{userDetail.userId})}">
                <i class="fas fa-ban text-danger"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0)" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Đóng</a>
      </div>
    </div>
  </div>
</div>