<div class="position-fixed bottom-0 end-0 p-4" style="z-index: 11" th:fragment="toastStorePauseSellingSuccess">
  <div id="toastStorePauseSellingSuccess" class="toast align-items-center text-white bg-success border-0" role="alert"
       aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
    <div class="d-flex">
      <div class="toast-body">
        Cửa hàng hiện tại đang tạm nghỉ!
      </div>
      <button type="button" class="btn-close btn-close-white me-3 m-auto"
              data-bs-dismiss="toast"
              aria-label="Close">
      </button>
    </div>
  </div>
</div>