<!-- Modal report order content -->
<div class="modal fade" id="reportOrderContentModal" tabindex="-1" aria-labelledby="reportOrderContentModalLabel"
     aria-hidden="true" th:fragment="orderReportContentModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reportOrderContentModalLabel">Nội dung báo cáo</h5>
      </div>
      <div class="modal-body">
        <div id="reportContent"></div>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0)" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Đóng</a>
      </div>
    </div>
  </div>
</div>