<!-- Modal update Food -->
<div class="modal fade" id="updateFoodModal" tabindex="-1" aria-labelledby="updateFoodModalLabel" aria-hidden="true"
     th:fragment="updateFoodModal">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateFoodModalLabel">Cập nhật sản phẩm</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 col-md-6 m-mb-20 m-mt-10">
            <img id="blah1" class="preview-img" width="100%" height="100%" th:src="@{'/images/system/no-image.png'}" />
          </div>
          <div class="col-12 col-md-6">
            <form id="updateFoodForm" class="row" th:action="@{/store/food/update}" method="post" enctype="multipart/form-data">
              <div class="form-group col-md-12">
                <fieldset>
                  <input type="hidden" id="foodItemId" name="foodItemId">
                  <legend>Lựa chọn hình ảnh</legend>
                  <input type="file" name="imageFood" class="form-control custom-file-input" onchange="document.getElementById('blah1').src = window.URL.createObjectURL(this.files[0])">
                </fieldset>
              </div>
              <div class="form-group col-md-12">
                <fieldset>
                  <legend>Tên sản phẩm</legend>
                  <input type="text" class="form-control" name="foodItemName">
                </fieldset>
              </div>
              <div class="form-group col-md-12">
                <fieldset>
                  <legend>Giá sản phẩm</legend>
                  <input type="number" class="form-control pe-5" name="foodItemPrice">
                  <label class="unit">VND</label>
                </fieldset>
              </div>
              <div class="form-group col-md-12 mb-0">
                <fieldset class="bg-dark-ui">
                  <legend>Chọn thẻ</legend>
                  <select class="form-control form-select" name="foodTagId">
                    <option value="1" selected="selected">Cơm</option>
                    <option value="2">Phở</option>
                    <option value="3">Cháo</option>
                    <option value="4">Bún đậu</option>
                  </select>
                </fieldset>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a id="btn-update-food" href="javascript:void(0)" class="btn btn-sm btn-secondary me-2" onclick="document.getElementById('updateFoodForm').submit();">
          <i class="fas fa-check text-success"></i>Xác nhận
        </a>
        <a href="javascript:void(0)" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Đóng</a>
      </div>
    </div>
  </div>
</div>